<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<link rel="stylesheet" href="__THEME_COMMON_STATIC__/css/common.css"/>
<link rel="stylesheet" href="__THEME_COMMON_STATIC__/css/reseting.css"/>
<link rel="stylesheet" href="__THEME_COMMON_STATIC__/css/login.css"/>
<title>手机注册</title>
</head>
<body>
<!--整体信息居中-->
<div class="container">
	<!--头部-->
	<div class="registerheader">
		<div class="left">
			<a href="{:U('/@')}"><img src="__THEME_COMMON_STATIC__/images/base/registerlogo.png" alt="" class="ilogo"/></a>
			<img src="__THEME_COMMON_STATIC__/images/base/registered-ad.png" alt="" class="iad"/>
		</div>
		<div class="right">
			<p>
				<button class="login" style="margin-top: -1px;">登录</button>
				<span class="lgwechat" style="margin: 0px 8px 0px 10px;"></span> 微信登录
			</p>
		</div>
	</div>
	<div class="clear">
	</div>
	<!--详细注册填写信息-->
	<div class="content">
		<div class="content1">
			<div class="content2">
				<form id="login_form" name="login_form" method="post" action="__SELF__">
				<div class="tellghead">
					<span class="tellg1"></span>
				</div>
				<div class="clear">
				</div>
				<div class="infocontent">
					<div class="left">
						手机号：
					</div>
					<div class="right" style="margin-bottom: 22px;">
						<input type="tel" placeholder="请输入您的手机号" maxlength="11" name="mobile"/>
					</div>
				</div>
				<div class="clear">
				</div>
				<div class="infocontent">
					<div class="left">
						短信验证码：
					</div>
					<div class="right">
						<input placeholder="请输入6位验证码" name="reg_verify" maxlength="6" type="text" style="width: 125px;"/>
						<input type="button" value="获取验证码" id="getVerify" class="codebutton"/>
						<span style="margin-left: 15px;vertical-align: middle;" id="verifyCode"></span>
					</div>
				</div>
				<div class="clear">
				</div>
				<div class="infocontent">
					<div class="left">
						密码：
					</div>
					<div class="right">
						<input type="password" name="password" id="password" placeholder="请输入6-20位字符密码，须同时包含字母和数字" maxlength="20"/>
					</div>
				</div>
				<div class="clear">
				</div>
				<div class="infocontent">
					<div class="left">
						确认密码：
					</div>
					<div class="right">
						<input type="password" id="repassword" name="repassword" placeholder="请输入确认密码" maxlength="20"/>
					</div>
				</div>
				<div class="clear">
				</div>
				<div class="infocontent">
					<div class="left">
					</div>
					<div class="right">
						<p style="color: #5C5C5C;font-size: 14px; margin-top: 14px;">
							<!--<input type="checkbox" class="dian" style="" id="jianrongradio" />-->
							<input type="checkbox" name="agree" id="agree" checked="checked"/>
							<label for="agree"><span></span>&nbsp;</label>
									我已经阅读并同意《
							<span class="orange">爱微商服务协议</span>》
						</p>
					</div>
				</div>
				<div class="clear">
				</div>
				<div class="infocontent">
					<div class="left">
					</div>
					<div class="right">
						<button class="sure" type="submit">确定</button>
					</div>
				</div>
				<div class="clear">
				</div>
			</div>
			</form>
		</div>
	</div>
</div>
<!--[if lt IE 8]>
<style type="text/css">
#jianrongradio{
	width: 16px;
	height:16px;
}
.content2 .infocontent .right input｛
height:26px;
｝
</style>
<![endif]-->
<link rel="stylesheet" href="__THEME_COMMON_STATIC__/css/sprites.css"/>
<script type="text/javascript" src="__PUBLIC__/js/jquery-2.1.4.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="__THEME_COMMON_STATIC__/js/layer/layer.js" ></script>
<script>
$(document).ready(function() {
	$.validator.setDefaults({
    	submitHandler: function(form) {
    		layer.load(2);
        	form.submit();
	        return false;
    	}
	});
	$.validator.setDefaults({
		errorElement:'span'
	});
	
	var cnmsg = {
		required: '<span class="warn"><span class="warnsjx"></span><span class="lgexc"></span>必填项</span>',
		equalTo: '<span class="warn"><span class="warnsjx"></span><span class="lgexc"></span>请再次输入相同的值</span>',
		maxlength: jQuery.format('<span class="warn"><span class="warnsjx"></span><span class="lgexc"></span>最多输入{0}个字符</span>'),
		minlength: jQuery.format('<span class="warn"><span class="warnsjx"></span><span class="lgexc"></span>最少输入{0}个字符</span>'),
		rangelength: jQuery.format('<span class="warn"><span class="warnsjx"></span><span class="lgexc"></span>请输入{0}到{1}个字符</span>'),
		range: jQuery.format('<span class="warn"><span class="warnsjx"></span><span class="lgexc"></span>请输入{0}到{1}之间的值</span>'),
		max: jQuery.format('<span class="warn"><span class="warnsjx"></span><span class="lgexc"></span>请输入小于 {0}的值</span>'),
		min: jQuery.format('<span class="warn"><span class="warnsjx"></span><span class="lgexc"></span>请输入大于 {0}的值</span>')
	};



	$.extend($.validator.messages, cnmsg);
	jQuery.validator.addMethod("isUserNameExist", function(value, element) {
		var flag = $.ajax({
			type: "POST",
			url: "{:U('ucenter/member/checkAccount')}",
			data: "account=" + value,
			async: false,
			success: function(msg) {
			}
		}).responseJSON;
		return this.optional(element) || flag.status == 1
	}, '<span class="warn"><span class="warnsjx"></span><span class="lgexc"></span>该手机号已被注册，请重新输入</span>');
	jQuery.validator.addMethod("isMobile", function(value, element) {
		var length = value.length;
		return this.optional(element) || (length == 11 && /^(13[0-9]|15[012356789]|17[0-9]|18[0-9]|14[57])[0-9]{8}$/.test(value))
	}, '<span class="warn"><span class="warnsjx"></span><span class="lgexc"></span>请填写正确的手机号</span>');
	$(login_form).validate({
		rules: {
			reg_verify: {
				required: true
			},
			password: {
				required: true
			},
			repassword: {
				required: true,
				equalTo: "#password"
			},
			mobile: {
				required: true,
				isMobile: true,
				isUserNameExist: true
			},
			agree: {
				required: true
			}
		},
		messages: {
			reg_verify: {
				required: '<span class="warn"><span class="warnsjx"></span><span class="lgexc"></span> 请填写手机验证码</span>'
			},
			password: {
				required: '<span class="warn"><span class="warnsjx"></span><span class="lgexc"></span>请填写密码</span>',
				minlength: jQuery.format('<span class="warn"><span class="warnsjx"></span><span class="lgexc"></span>至少输入{0}个字符</span>')
			},
			repassword: {
				required: '<span class="warn"><span class="warnsjx"></span><span class="lgexc"></span>请填写确认密码</span>',
				equalTo: '<span class="warn"><span class="warnsjx"></span><span class="lgexc"></span>两次密码输入不相同</span>',
				minlength: jQuery.format('<span class="warn"><span class="warnsjx"></span><span class="lgexc"></span>至少输入{0}个字符</span>')
			},
			mobile: {
				required: '<span class="warn"><span class="warnsjx"></span><span class="lgexc"></span>请填写手机号</span>',
				isMobile: '<span class="warn"><span class="warnsjx"></span><span class="lgexc"></span>请填写正确的手机号</span>'
			},
			agree: {
				required: '<span class="warn"><span class="warnsjx"></span><span class="lgexc"></span>未同意协议</span>'
			}
		},
		errorPlacement: function(error, element) {
			if (element.parent().find('.clear').length > 0) error.insertBefore(element.parent().find('.clear'));
			else if (element.is(":radio")) error.appendTo(element.parent());
			else error.appendTo(element.parent());
		},
		success: function(label) {
			label.html('<span class="passinfo"><span class="lgtick"></span></span>')
		},
		focusInvalid: false,
		onkeyup: false
	});
	$('input').focus(function() {
		if ($(this).is(":text") || $(this).is(":password")) $(this).addClass('focus');
		if ($(this).hasClass('have_tooltip')) {
			$(this).parent().parent().removeClass('field_normal').addClass('field_focus')
		}
	});
	$('input').blur(function() {
		$(this).removeClass('focus');
		if ($(this).hasClass('have_tooltip')) {
			$(this).parent().parent().removeClass('field_focus').addClass('field_normal')
		}
	});
});
$(function() {	
	$('#getVerify').on('click', function() {
		layer.load(2);
		var $this = $(this);
		var account = $this.parents().find('[name="mobile"]').val();
		$.post("{:U('ucenter/verify/sendVerify')}", {
			account: account,
			type: 'mobile',
			action: 'member'
		}, function(res) {
			if (res.status) {
				Countdown.obj = $this
				Countdown.time = 60;
				$this.attr('disabled', true)
				Countdown.countdown();
				$("#verifyCode").html("验证码编号（"+res.info+"）");
			} else {
				layer.msg(res.info);
			}
            layer.closeAll('loading');
		});
	});
	
	$(document)
    .ajaxStart(function () {
        $("button:submit").attr("disabled", true);
    })
    .ajaxStop(function () {
        $("button:submit").attr("disabled", false);
    });
});

var Countdown = {
    obj:0,
    time:0,
    countdown : function(){
        if(this.time > 0){
            this.obj.val("重新发送(" + this.time--+"S)")
			this.obj.css({"backgroundColor":"#F8F8F8"});
            this.obj.css({"borderColor":"#E8E8E8"});
            setTimeout("Countdown.countdown()",1000)
        }else{
            this.obj.val("获取验证码")
            this.obj.attr('disabled',false)
			this.obj.css({"backgroundColor":"#ffeedf"});
            this.obj.css({"borderColor":"#ffc493"});
        }

    }
}
</script>
</body>
</html>