<!doctype html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="__THEME_COMMON_STATIC__/css/reseting.css">
<style>
.agreement {
	width: 462px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -230px;
	margin-top: -56px;
	z-index: 9999
}

.agreement_title {
	width: 462px;
	height: 34px;
	background: #fbfbfb;
	border-bottom: 1px solid #eeeeee
}

.agreement_conttent {
	width: 462px;
	background: #FFF
}

.agreement_conttent p {
	font-size: 16px;
	color: #505050;
	margin: 24px 0 24px 117px;
}
</style>
<meta charset="utf-8">
<title>协议弹窗</title>
</head>

<body>
	<div class="agreement">
		<div class="agreement_title"></div>
		<div class="agreement_conttent">
			<p class="left">请先阅读并同意《服务协议》！</p>
			<div class="clear"></div>
		</div>
	</div>
</body>

</html>
