<div class="theme-popover" style="display: block;">
    <div class="hisnum">
        本期总共参与了{$join_tal_num}人次
    </div>
    <div class="whhitepadding">
        <div class="hisnumcont">
            <div class="fournum">
                <ul>
                    <volist name='codes' id='vo'>
                        <li>{$vo}</li>
                    </volist>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<div class="theme-popover-mask" style="display: block;"></div>
<link rel="stylesheet" href="__THEME_COMMON_STATIC__/css/base.css" />
<link rel="stylesheet" href="__THEME_COMMON_STATIC__/css/popup.css" />

