<extend name="Base/common"/>

<block name="header_css">
    <link type="text/css" rel="stylesheet" href="__THEME_COMMON_STATIC__/css/reseting.css">
    <link type="text/css" rel="stylesheet" href="__THEME_COMMON_STATIC__/css/common.css">
    <link type="text/css" rel="stylesheet" href="__THEME_COMMON_STATIC__/css/ordercss.css">
    <link type="text/css" rel="stylesheet" href="__THEME_COMMON_STATIC__/css/zzsc.css">
</block>
<block name="header_script">
    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.9.1.js" ></script>
    <script type="text/javascript" src="__THEME_COMMON_STATIC__/js/layer/layer.js" ></script>
    <script type="text/javascript" src="__THEME_COMMON_STATIC__/js/partjs.js"></script>
    <script type="text/javascript" src="__THEME_COMMON_STATIC__/js/jquery.flexslider.js"></script>

    <!--一元商品轮播-->
    <script type="text/javascript" src="__THEME_COMMON_STATIC__/js/order_js.js"></script>
</block>
<block name="body">
    <if condition="!$list">
        <div class="navigate_box">
            <div class="navigate">
                <a><img src="__THEME_COMMON_STATIC__/images/base/order_logo.png" class="order_logo"/></a>
                <p class="cut"></p>
                <a><img class="aipai_logo" src="__THEME_COMMON_STATIC__/images/base/oneyuan.png"/></a>
            </div>
            <div class="clear"></div>
        </div>
        <!--空购物车-->
        <div class="shop_box container">
            <div class="shop"></div><br/>
            <p class="shop_word px18">您的购物车空空如也~</p><br/>
            <a href="{:U('@1')}"><span class="goshop back_orange bdr white px16">立即爱拍</span>
        </div>
        <else />
        <div class="navigate_box">
            <div class="navigate">
                <a><img src="__THEME_COMMON_STATIC__/images/base/order_logo.png" class="order_logo"/></a>
                <p class="cut"></p>
                <a><img class="aipai_logo" src="__THEME_COMMON_STATIC__/images/base/oneyuan.png"/></a>
                <div style="background-position:0 0" class="navigation">
                    <span style="color:#FFF" class="submit">1.提交订单</span>
                    <span class="pay">2.支付订单</span>
                    <span class="get">3.获得号码,等待揭晓</span>
                    <span class="result">4.揭晓中奖号码</span>
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <form id='pay' action= "{:U('Order/pay')}" method="POST">
            <div class="order_box">
                <div class="catbox">
                    <table id="cartTable" class=" gwc_tb2">
                        <thead class="table_title">
                            <tr>
                                <th style="width: 42px;"><label>
                                        <input class=" check allselect"  type="checkbox"/></label>
                                </th>
                                <th class="gonds_menu" style="">商品</th>
                                <th class="value_menu">价值</th>
                                <th class="price_menu">爱拍价</th>
                                <th class="count_menu">爱拍人次</th>
                                <th class="subtotal_menu">金额</th>
                                <th class="operation_menu">操作</th>
                            </tr>
                        </thead>
                        <tbody class=" ">
                        <php>$total=0;</php>
                        <volist name="list" id="vo" key="k" >
                            <if condition="$vo.surplus_num gt 0">
                                <php>$total+=$vo['num'];</php>
                                <tr data-id="{$vo.id}">
                                    <td class="checkbox d1"><input class="check-one check d1-input" name="ids[]" value="{$vo.id}" type="checkbox"/></td>
                                    <td class="goods d2">
                                        <a href="{:U('Index/details', array('id'=>$vo['id']))}"><img src="{$vo['productinfo']['imgs'][0]|getThumbImageById=86,86}" alt="{$vo['productinfo']['name']}"/></a>
                                        <a href="{:U('Index/details', array('id'=>$vo['id']))}"><span class="shishi">{$vo['productinfo']['name']}</span></a>
                                        <p class="allneed">总需<a class="join">{$vo.need_num}</a>人次&nbsp;&nbsp;还剩<a class="Surplus">{$vo.surplus_num}</a>人次</p>
                                    </td>

                                    <td class="value">{$vo.need_num}</td>
                                    <td class="price per d3"><span class="per">1</span>爱币</td>
                                    <td class="countbox data d4">
                                        <div class="d4-div">
                                            <span class="reduce _btn_set_num">-</span>
                                            <input class="count-input count" type="text" value="{$vo.buy_num}" data-pid="{$vo.id}"/>
                                            <span class="add _btn_set_num">+</span>
                                        </div></td>
                                    <td class="subtotal d5"><span class="cart-price">{$vo.buy_num}</span>.00</td>
                                    <td class="operation d6"><span class="delete _delete"   >删除</span></td>
                                </tr>
                                <else />
                                <tr class="disable sc-mid-list" data-id="{$vo.id}">
                                    <td ><span class="disable-icon px12 bdr">失效</span></td>
                                    <td class="goods">
                                        <a href="{:U('Index/details', array('id'=>$vo['id']))}"><img src="{$vo['productinfo']['imgs'][0]|getThumbImageById=86,86}" alt="{$vo['productinfo']['name']}"/></a>
                                        <a href="{:U('Index/details', array('id'=>$vo['id']))}"><span class="shishi">{$vo['productinfo']['name']}</span></a>
                                        <p class="allneed">总需<a class="join">{$vo.need_num}</a>人次&nbsp;&nbsp;还剩<a class="Surplus">{$vo.surplus_num}</a>人次</p>
                                    </td>
                                    <td class="value">{$vo.need_num}爱币</td>
                                    <td class="price">1爱币</td>
                                    <td class="count">
                                        <input class="count-input-disable" type="text" value="{$vo.buy_num}" disabled=""/>
                                    </td>
                                    <td class="subtotal">{$vo.buy_num}.00</td>
                                    <td class="operation"><span class="delete">删除</span></td>
                                </tr>
                            </if>
                        </volist>
                        </tbody>
                    </table>
                    <div class="table_foot" id="table_foot">
                        <label class="left select-all"><input type="checkbox" name="newslist" class=" check allselect"/>&nbsp;&nbsp;全选</label>
                        <a class="left delete" id="deleteAll" href="javascript:;">删除选中</a>                        
                        <input type="hidden" id="cartTotalPrice" />
                        <div class="right total">总计：￥&nbsp;
                            <span id="priceTotal">{$total}</span><span>&nbsp;爱拍币</span><br>
                            <span class="money_balance px12">可用账户余额：￥{$my_user.balance}</span><br>
                            <span class="aibi_balance px12">爱币余额：{$my_user.score2}爱拍币</span>
                        </div>
                        <div class="right selected" id="selected">已选商品<span id="selectedTotal">{$total}</span>件</div>                       
                    </div>
                    <div class="submit_box">
                        <a href="{:U('Index/index')}"><div class="return">返回继续购物＞</div></a>
                        <if condition='$list'>
                            <div class="submit_right">
                                <a href="javascript:;" ><div class="submits" id="orderjoin" >提交订单</div></a>
                                <input id="agreement" class="clear" type="checkbox" checked/>
                                <label for="agreement"><p class="agreement">我已经阅读并同意《爱微商服务协议》</p></label>
                            </div>
                        </if>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </form>
    </if>

    <!--相关微商-->
    <div style="margin-top:20px" class="relevant_box clear">
        <div class="left_button"></div>
        <div class="right_button"></div>
        <div class="relevant_title">
            <h1 class="px14">相关微商</h1>
        </div>
        <div class="relevant_container">
            <div class="flexslider">
                <volist name="related" id="r">                   
                    <ul class="slides">
                        <li>
                            <div class="section">
                                <a href="{:U('@'.$r['username'])}"><img src="{$r['avatar64']}" alt="{$r['username']}" /><p></p></a>
                                <a ><h1>微信：{$r['weixin']}</h1></a>
                                <a ><h3>等级：</h3><div class="<if condition='$r.ishot'>case1<else/>case2</if>">
                                        <h2 class="grade1"><i>Lv.{$r.level}</i></h2>
                                    </div> </a>
                                <a ><span class="answer">{$r['category']}</span></a>
                            </div>
                        </li>
                    </ul>
                </volist>
            </div>
        </div>	
        <div class="clear"></div>
    </div>
    <!-- 删除地址模态框（Modal） -->
    <div class="modal fade delete-pop"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div style="width: 424px !important;" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div style=" padding: 30px 40px 40px 40px;box-sizing: border-box;text-align: center;" class="modal-body">
                    <p class=" px18 ">确定要将该商品从您购物车删除吗？</p>
                    <div style="text-align: center;">
                        <a class="noaddress-button back_orange white px16 bdr _btn_del_modal_id_hide">取消</a>
                        <a href="javascript:;"  data-id="" class="_btn_del_modal_id px16 noaddress-button back_orange white bdr">确定</a></div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>	
    <script>

        var sendChange = function (obj) {
            var num = $(obj).parent().find('.count-input').val();
            var id = $(obj).parent().find('.count-input').attr('data-pid');
            $.post("{:U('Cart/setCartGoodsNum')}", {pid: id, num: num}, function (msg) {
                if (msg.status != "1") {
                    alert(msg.message);
                }
                total_count_money();
            }, 'json');
        };
        var sendDel = function (obj, callback) {
            var id = $(obj).attr('data-id');
            $.post("{:U('Cart/deleteGoods')}", {pid: id}, function (msg) {
//                if (msg.status != "1") {
//                    alert(msg.message);
//                }
                if (callback) {
                    callback(msg);
                }
                total_count_money();
            }, 'json');
        };
        //购物车
        $(function () {
            //提交订单
            $("#orderjoin").click(function () {
                if (!$("#agreement").is(":checked")) {
                    layer.open({
                        type: 2,
                        title: false,
                        shadeClose: true,
                        area: ['462px', '96px'],
                        content: "{:U('Order/agreement')}"
                    });
                    return false;
                }
                $('#pay').submit();
            });
        });
    </script>

</block>
