<extend name="Base/common"/>
<block name="header_css">
    <link rel="stylesheet" href="__THEME_COMMON_STATIC__/css/reseting.css" />
    <link rel="stylesheet" href="__THEME_COMMON_STATIC__/css/common.css" />
    <link rel="stylesheet" href="__THEME_STATIC__/css/pai_default.css" />
    <link rel="stylesheet" href="__THEME_COMMON_STATIC__/css/cui.css" />
    <link rel="stylesheet" href="__THEME_STATIC__/css/icnsay.css" />
</block>
<block name="header_script">
    <script type="text/javascript" src="__PUBLIC__/js.php??t=js&f=js/jquery-1.8.3.js,js/com/com.toast.class.js"></script>
    <script type="text/javascript" src="__THEME_COMMON_STATIC__/js/jquerysenior.js"></script>
    <script type="text/javascript" src="__THEME_STATIC__/js/isay.js"></script>
</block>
<block name="body">
    <!-- 主体 -->
    <!--网站全局BANNER-->
    <include file="Public/banner_nav"/>
    <!--网站全局BANNER结束-->

    <!--i.cn说核心-->
    <div class="container">
        <div class="icncontent">
            <!--说——标题-->
            <div class="titbox">
                <div class="icntit px18 bold">i.cn{:L('_SAY_')}</div>
            </div>
            <!--内容评论-->
            <div class="myicnbox">
                <div class="myicn">
                    <div class="mysay">
                        {$info.content}                       
                    </div>
                    <div class="saybtn">
                        <php>if(modC('ISAY_SHOW_LIKE',1,'Isay')){</php>
                        <if condition="!empty($info['can_like'])">
                            <div class="left">                
                                <span class="zan say_zan2 _show_lun_zan" data-show="lunout" data-hide="zanout" title="{:L('_LIKE_UP_')}" ></span> <span class="_comment_like_up">{$info.up}</span>
                            </div>                           
                            <else/>
                            <div class="left">                
                                <span class="zan say_zan1 _show_lun_zan" data-show="lunout" data-hide="zanout" title="{:L('_LIKE_UP_')}" data-role="send_comment_dolike" data-type='1' data-href="{:U('Isay/Like/doCommentLike')}" data-id="{$info.id}"></span> <span class="_comment_like_up">{$info.up}</span>
                            </div>                           
                        </if>
                        <php>}</php>
                        <div class="left">
                            <span class="lun say_lun1 _show_lun_zan" data-show="zanout" data-hide="lunout"></span> <span class="_total_count">{$info.comment}</span>
                        </div>
                         {:W('Isay/Common/bdShare',array('share'=>$share))}
                        <div class="clear"></div>
                    </div>
                </div>
                <!--评论-->
                <div class="lunout lunzhonglun" style="display: block;">
                    <div class="lunbox">
                        <!--评论list-->
                        {:W('Isay/Comment/someCComment',array('id'=>$info['id'],'html'=>FALSE,'rows'=>modC('ISAY_COMMENT_COUNT','ISAY'),'page'=>$page))}  
                        <!--评论end-->
                    </div>
                </div>
                <div class="zanout hide">
                    {:R('Isay/Like/someLike',array('obj_id'=>$info['id'],'to_obj'=>'comment','type'=>1,'page'=>1,30),'Widget')}
                </div>
                <script>
                    var isay_comment_order = "{:modC($cMod.'_ISAY_COMMENT_ORDER',0)}";
                    var isay_comment_count = "{:modC($cMod.'_ISAY_COMMENT_COUNT',10)}";
                    $(function () {
                        $('._show_lun_zan').mouseover(function () {
                            var show = $(this).attr('data-show');
                            var hide = $(this).attr('data-hide');
                            $("." + hide).show();
                            $("." + show).hide();

                            if ($(".lunout").is(":hidden")) {
                                $('.lun').removeClass('say_lun1').addClass("say_lun2");
                            } else {
                                $('.lun').removeClass('say_lun2').addClass("say_lun1");
                            }

                        });

                        $('.zanout').delegate('._like_pages a', 'click', function (e) {
                            e.preventDefault();
                            var url = $(this).attr('href');
                            upCommentLikePage(url);
                        });
                    });



                    goTo = function (jqclass, obj) {
                        var cls = $(obj).parent().find(jqclass);
                        var num = parseInt(cls.val());
                        if (isNaN(num))
                            return;
                        var url = $(obj).attr('data-url').replace(/page\/(\d)+\.?/g, "page/" + num + ".");
                        upCommentLikePage(url);
                    };


                    function upCommentLikePage(url) {
                        $.get(url, function (msg) {
                            $('.zanout').html(msg);                           
                        });
                    }
                </script>
            </div>
            <!--内容评论END-->   

        </div>
    </div>    
    <include file="Public/bdshare"/>
</block>
<block name="footer_script">
    <script src="__PUBLIC__/js.php?t=js&f=js/com/com.functions.js,js/com/com.notify.class.js,js/com/com.ucard.js,static/qtip/jquery.qtip.js,js/ext/slimscroll/jquery.slimscroll.min.js,js/ext/magnific/jquery.magnific-popup.min.js,js/ext/placeholder/placeholder.js,js/ext/atwho/atwho.js,zui/js/zui.js,js/ext/lazyload/lazyload.js&v={$site.sys_version}.js"></script>
<script type="text/javascript" src="__STATIC__/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/ext/layer/layer.js" ></script>
<script type="text/javascript" src="__THEME_COMMON_STATIC__/js/common.js"></script>
</block>


