
<div class="bgtplogobox">
	<div class="tplogobox">
		<div class="left">
			<div class="tplogolt">
				<p>
					<img src="__THEME_COMMON_STATIC__/images/base/logo.png" />
				</p>
				<p>
					<span class="grayline"> </span>
				</p>
				<p class="navname">{:L('_NAV_NAME_')}</p>
			</div>

		</div>
		<div class="right weisq_tr">
			<div class="left">
				<div class="weishbox">
					<input id="search" type="text" placeholder="请输入关键词" class="shinput" />
					<div class="weikeybox">
						<span class="weikey">苹果6s</span> <span class="weikey">呢大衣</span> <span
							class="weikey">程序猿</span>
					</div>
					<div class="weizoombox">
						<span class="weizoom"></span>
					</div>

				</div>
			</div>
			<div class="right hottel">
				<div>{:L('_RIGHT_ONE_')}</div>
				<div class="hottelnum">{:L('_RIGHT_TWO_')}</div>
			</div>
		</div>

		<div class="clear"></div>

	</div>
</div>
<nav class="bluenav">
	<div class="tppaimenu">
		<ul>
			<li><a href="{:U('Index/index')}"><span>首页</span></a></li>
			<li><a href="{:U('Index/forums')}"><span>微商论坛</span></a></li>
			<li><span>商讯</span></li>
			<li class="active"><span>一手货源</span></li>

		</ul>

		<div class="clear"></div>
	</div>
</nav>