<!doctype html>
<html>

<head>
<link rel="stylesheet" href="__THEME_COMMON_STATIC__/css/reseting.css" />
<link rel="stylesheet" href="__THEME_COMMON_STATIC__/css/page.css" />
<link rel="stylesheet" href="__THEME_COMMON_STATIC__/css/common.css" />
<link rel="stylesheet" href="__THEME_COMMON_STATIC__/css/icnsay.css" />
<link rel="stylesheet" href="__THEME__/Forum/Static/css/forum.css" />
<link rel="stylesheet"
	href="__THEME_COMMON_STATIC__/css/weicommunity/isaycom.css" />
<link rel="stylesheet"
	href="__THEME_COMMON_STATIC__/js/weibanner/css/osSlider.css" />
<script type="text/javascript"
	src="__THEME_COMMON_STATIC__/js/jquerysenior.js"></script>
<script type="text/javascript"
	src="__THEME_COMMON_STATIC__/js/layer/layer.js"></script>
<script type="text/javascript" src="__THEME_COMMON_STATIC__/js/tags.js"></script>
<script type="text/javascript"
	src="__THEME_COMMON_STATIC__/js/common.js"></script>
<script type="text/javascript"
	src="__THEME_COMMON_STATIC__/js/weibanner/js/osSlider.js"></script>
<link rel="stylesheet"
	href="__THEME_COMMON_STATIC__/css/weicommunity/weicty.css" />
	<script type="text/javascript"
	src="__PUBLIC__/js.php?f=js/jquery-2.0.3.min.js"></script>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<title>{$title}</title>
</head>