<extend name="Base/common"/>

<block name="body">
    <!-- 主体 -->
    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.validate.min.js"></script>
    <!--网站全局BANNER-->
    <include file="Public/banner_nav"/>
    <!--网站全局BANNER结束-->
    <div class="personal_center container bs">
        <!--左边菜单-->
        <include file="Comm/left_menu"/>
        <!--  右边内容-->
  <!--  右边内容-->
    <div class="personal_body right">
    	<div class="right_title">
        	<h2 class="px16 left">绑定手机</h2>
            <a href=""><div class="return_box right">
            	<div class="return_img left"></div>
                <p class="left">返回</p>
            </div></a>
        </div>
       <!-- 不一样的地方从这里开始-->
     <form id="bind_mobile_form" name="bind_mobile_form" method="post" action="__SELF__">
        <div style="margin-top: 40px;" class="revise_box clear">
        	 <p class="revise_tip">微信登录尚无原始密码，为提高您账户的安全度，请先绑定手机号！</p> 
        	<div class="revise_left left">
            	<label for="load_password"><p class="right">手机号：</p></label>
                
            </div>
            <div class="revise_right left">
            	<input name="mobile" type="text" class="load_password left cl50" id="load_password" placeholder="请输入您的手机号"/>
            </div>
            <div class="clear"></div>
        </div> 
        
        <div class="revise_box clear">
        	<div style="height:30px" class="revise_left left"></div> 
            <div class="revise_right left">
            	<input type="button" class="btn left px14 getVerify codebutton" id="btn" value="免费获取验证码"/><span class="security_number px12">验证码编号（5698）</span>
            </div>
            <div class="clear"></div>
        </div>
        <div class="revise_box clear">
        	<div class="revise_left left">
            	<label for="security_code"><p class="right">短信验证码：</p></label>
                
            </div>
            <div class="revise_right left">
            	<input type="text" class="security_code left cl50" id="security_code" placeholder="请输入验证码" name="reg_verify"/>
            </div>
            <div class="clear"></div>
        </div>
     <div class="button_box">
     	<a href=""><input type="submit" class="password_submit " id="password_submit" value="下一步"/></a>
     </div>
                 </form>
   <!--不一样的地方这里结束-->     
    <div class="clear"></div>
    </div>
        <div class="clear"></div>
    </div>
    <script>
$(document).ready(function() {
	$.validator.setDefaults({
    	submitHandler: function(form) {
    		layer.load(2);
	        var self = $(form);
	        $.post(self.attr("action"), self.serialize(), success, "json");
	        return false;
	
	        function success(data) {
	            if (data.status) {
	                setTimeout(function () {
	                    window.location.href = '{:U('Config/setPassword')}';
	                }, 50);
	            } else {
	            	layer.msg(data.info);
	            }
	            layer.closeAll('loading');
	        }
    	}
	});
	$.validator.setDefaults({
		errorElement:'span'
	});
	
	var cnmsg = {
		required: '<span class="warn"><span class="lgfork"></span>必填项</span>',
		equalTo: '<span class="warn"><span class="lgfork"></span>请再次输入相同的值</span>',
		maxlength: jQuery.format('<span class="warn"><span class="lgfork"></span>最多输入{0}个字符</span>'),
		minlength: jQuery.format('<span class="warn"><span class="lgfork"></span>最少输入{0}个字符</span>'),
		rangelength: jQuery.format('<span class="warn"><span class="lgfork"></span>请输入{0}到{1}个字符</span>'),
		range: jQuery.format('<span class="warn"><span class="lgfork"></span>请输入{0}到{1}之间的值</span>'),
		max: jQuery.format('<span class="warn"><span class="lgfork"></span>请输入小于 {0}的值</span>'),
		min: jQuery.format('<span class="warn"><span class="lgfork"></span>请输入大于 {0}的值</span>')
	};

	$.extend($.validator.messages, cnmsg);
	jQuery.validator.addMethod("byteRangeLength", function(value, element, param) {
		var length = value.length;
		for (var i = 0; i < value.length; i++) {
			if (value.charCodeAt(i) > 127) {
				length++
			}
		}
		return this.optional(element) || (length >= param[0] && length <= param[1])
	}, '<span class="warn"><span class="lgfork"></span>长度在{0}-{1}之间，请重新输入</span>');
	jQuery.validator.addMethod("isUserNameExist", function(value, element) {
		var flag = $.ajax({
			type: "POST",
			url: "{:U('ucenter/member/checkAccount')}",
			data: "account=" + value,
			async: false,
			success: function(msg) {
			}
		}).responseJSON;
		return this.optional(element) || flag.status == 1
	}, '<span class="warn"><span class="lgfork"></span>该账号已存在，请重新输入</span>');
	jQuery.validator.addMethod("weixin", function(value, element) {
		return this.optional(element) || /^[\w]{6,20}$/.test(value)
	}, '<span class="warn"><span class="lgfork"></span>微信号只能包含字母、数字和下划线，请重新输入</span>');
	jQuery.validator.addMethod("nickName", function(value, element) {
		return this.optional(element) || /^[\u0391-\uFFE5\w]+$/.test(value)
	}, '<span class="warn"><span class="lgfork"></span>微信名称只能包含中文字、英文字母、数字和下划线，请重新输入</span>');
	jQuery.validator.addMethod("userName", function(value, element) {
		return this.optional(element) || /^(?![^a-zA-Z]+$)(?!\D+$).{6,20}$/.test(value)
	}, '<span class="warn"><span class="lgfork"></span>用户名只能是字母+数字，请重新输入</span>');
	jQuery.validator.addMethod("isMobile", function(value, element) {
		var length = value.length;
		return this.optional(element) || (length == 11 && /^(13[0-9]|15[012356789]|17[0-9]|18[0-9]|14[57])[0-9]{8}$/.test(value))
	}, '<div class="input_tip bdr"><div class="wrong_icon left"></div><p class="left px12">请输入验证码</p><div class="points"></div></div>');
	$(bind_mobile_form).validate({
		rules: {
			weixin: {
				required: true,
				byteRangeLength: [6, 20],
				weixin: true
			},
			nickname: {
				required: true,
				byteRangeLength: [2, 20],
				nickName: true
			},
			username: {
				required: true,
				userName: true,
				byteRangeLength: [6, 20],
				isUserNameExist: true
			},
			keyword: {
				required:"#wei:checked",			
				byteRangeLength: [2, 15]
			},
			keyword_ng: {
				required:"#nowei:checked",				
				byteRangeLength: [2, 15]
			},
			reg_verify: {
				required: true
			},
			password: {
				required: true
			},
			repassword: {
				required: true,
				equalTo: "#password"
			},
			mobile: {
				required: true,
				isMobile: true,
				isUserNameExist: true
			},
			agree: {
				required: true
			}
		},
		messages: {
			weixin: {
				required: '<span class="warn"><span class="lgexm"></span>请填写微信号</span>',
				minlength: '<span class="warn"><span class="lgfork"></span>至少输入{0}个字符</span>',
			},
			nickname: {
				required: '<span class="warn"><span class="lgexm"></span>请填写微信名称</span>',
				byteRangeLength: jQuery.format('<span class="warn"><span class="lgfork"></span>微信名称必须在{0}-{1}个字符之间，请重新输入</span>'),
			},
			username: {
				required: '<span class="warn"><span class="lgexm"></span>请填写账号</span>',
				byteRangeLength: jQuery.format('<span class="warn"><span class="lgfork"></span>账号必须在{0}-{1}个字符之间，请重新输入</span>'),
				isUserNameExist: '<span class="warn"><span class="lgfork"></span>该账号已存在，请重新输入</span>'
			},
			keyword: {
				required:'<span class="warn"><span class="lgexm"></span>请填写商品关键词</span>',	
				byteRangeLength: jQuery.format('<span class="warn"><span class="lgfork"></span>商品关键词必须在{0}-{1}个字符之间，请重新输入</span>'),
			},
			keyword_ng: {
				required:'<span class="warn"><span class="lgexm"></span>请填写非商品关键词</span>',		
				byteRangeLength: jQuery.format('<span class="warn"><span class="lgfork"></span>非商品关键词必须在{0}-{1}个字符之间，请重新输入</span>'),
			},
			reg_verify: {
				required: '<div class="input_tip bdr"><div class="wrong_icon left"></div><p class="left px12">请填写验证码</p><div class="points"></div></div>'
			},
			password: {
				required: '<span class="warn"><span class="lgexm"></span>请填写密码</span>',
				minlength: jQuery.format('<span class="warn"><span class="lgexm"></span>至少输入{0}个字符</span>')
			},
			repassword: {
				required: '<span class="warn"><span class="lgexm"></span>请填写确认密码</span>',
				equalTo: '<span class="warn"><span class="lgfork"></span>两次密码输入不相同</span>',
				minlength: jQuery.format('<span class="warn"><span class="lgexm"></span>至少输入{0}个字符</span>')
			},
			mobile: {
				required: '<div class="input_tip bdr"><div class="wrong_icon left"></div><p class="left px12">请填写手机号</p><div class="points"></div></div>',
				isMobile: '<div class="input_tip bdr"><div class="wrong_icon left"></div><p class="left px12">请输入正确手机号</p><div class="points"></div></div>'
			},
			agree: {
				required: '<span class="warn"><span class="lgexm"></span>未同意协议</span>'
			}
		},
		errorPlacement: function(error, element) {
			if (element.parent().find('.clear').length > 0) error.insertBefore(element.parent().find('.clear'));
			else if (element.is(":radio")) error.appendTo(element.parent());
			else error.appendTo(element.parent());
		},
		success: function(label) {
			label.html('<span class="lgtick"></span>')
		},
		focusInvalid: false,
		onkeyup: false
	});
	$('input').focus(function() {
		if ($(this).is(":text") || $(this).is(":password")) $(this).addClass('focus');
		if ($(this).hasClass('have_tooltip')) {
			$(this).parent().parent().removeClass('field_normal').addClass('field_focus')
		}
	});
	$('input').blur(function() {
		$(this).removeClass('focus');
		if ($(this).hasClass('have_tooltip')) {
			$(this).parent().parent().removeClass('field_focus').addClass('field_normal')
		}
	});
});
var Countdown = {
	    obj:0,
	    time:0,
	    countdown : function(){
	        if(this.time > 0){
	            this.obj.val("重新发送(" + this.time--+"S)")
	            setTimeout("Countdown.countdown()",1000)
	        }else{
	            this.obj.val("免费获取验证码")
	            this.obj.attr('disabled',false)
	        }

	    }
	}
$(function() {

	
	$('.getVerify').on('click', function() {
		layer.load(2);
		var $this = $(this);
		var account = $this.parents().find('[name="mobile"]').val();
		$.post("{:U('ucenter/verify/sendVerify')}", {
			account: account,
			type: 'mobile',
			action: 'member'
		}, function(res) {
			if (res.status) {
				Countdown.obj = $this
				Countdown.time = 60;
				$this.attr('disabled', true)
				Countdown.countdown();
				$("#verifyCode").html("验证码编号（"+res.info+"）");
			} else {
				layer.msg(res.info);
			}
            layer.closeAll('loading');
		});
	});
	
	$(document)
    .ajaxStart(function () {
        $("button:submit").attr("disabled", true);
    })
    .ajaxStop(function () {
        $("button:submit").attr("disabled", false);
    });
});
</script>
    <link type="text/css" rel="stylesheet" href="__THEME_STATIC__/css/personal_center.css">
</block>