<php>
    if(ACTION_NAME=='information'){ $tabClass['user_data'] = 'active'; }
    elseif(ACTION_NAME=='fans'||ACTION_NAME=='following'){ $tabClass['user_fans'] = 'active'; }
    elseif(ACTION_NAME=='rankverify'||ACTION_NAME=='rank'||ACTION_NAME=='rankverifyfailure'||ACTION_NAME=='rankverifywait'){ $tabClass['user_rank'] = 'active'; }
    else{ $tabClass[$type] = 'active'; }
</php>
<style>
    .nav.navbar-nav li a.active{
        background-color: #ffffff;
    }
</style>
<nav class="navbar navbar-default uc_navbar" role="navigation">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <if condition="empty($appArr)">
                <li>
                    <a href="{:U('information',array('uid'=>$uid))}" class="{$tabClass.user_data}">{:L('_INFORMATION_')}</a>
                </li>
                <li>
                    <a href="{:U('rank',array('uid'=>$uid))}" class="{$tabClass.user_rank}">{:L('_RANK_TITLE_')}</a>
                </li>
                <li>
                    <a href="{:U('following',array('uid'=>$uid))}" class="{$tabClass.user_fans}">{:L('_FOLLOWERS_')}{:L('_SLASH_')}{:L('_FANS_')}</a>
                </li>
                <else/>
                <volist name='appArr' id='vo'>
                    <li>
                        <if condition="$vo.key eq 'follow'">
                            <a href="{:U('following',array('uid'=>$uid))}" class="{$tabClass.user_fans}">{$vo.title}</a>
                            <else/> <if condition="$vo.key eq 'rank_title'">
                            <a href="{:U('information',array('uid'=>$uid))}" class="{$tabClass.user_data}">{$vo.title}</a>
                            <else/> <if condition="$vo.key eq 'info'">
                            <a href="{:U('rank',array('uid'=>$uid))}" class="{$tabClass.user_rank}">{$vo.title}</a>
                            <else/>  <a href="{:U('appList',array('type'=>$key,'uid'=>$uid))}"  class="{$tabClass[$key]}">{$vo.title}</a>
                        </if>
                        </if>
                        </if>
                    </li>
                </volist></if>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>