<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit">
		<title>全国爱拍</title>
	</head>

	<body>
		<header>
			<div class="top">
				<a>厦门</a>
				<div class="suxian0"></div>
				<a href="">切换城市</a>
				<div class="img1"></div>
				<a id="login">登录</a>
				<div class="suxian"></div>
				<a href="">注册</a>
				<div class="suxian"></div>
				<div class="img2"></div>
				<a href="">帮助中心</a>
				<div class="suxian"></div>
				<a href="">手机爱微商</a>
				<div class="img3"></div>
			</div>
		</header>

		<div class="logobox">
			<div class="logo">
				<a href="index.html"><img class="logo1" src="images/shouye_14.jpg"></a>
				<!--<img class="logo2" src="images/shouye_25.jpg">-->
				<div class="sousuobox">
					<!--<div class="sousuob"></div>
					<input id="input1" type="text" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请输入关键字......">
					<a class="anniu" href="">搜索</a>
					<div class="remen">
						<p>近期热搜：</p>
						<a href="">白富美</a>
						<a href="">高富帅</a>
						<a href="">萝莉</a>
						<a href="">饼干西施</a>
						<a href="">白富美</a>
						<a href="">高富帅</a>
						<a href="">萝莉</a>
						<a href="">饼干西施</a>
					</div>-->
				</div>
				<div class="dianhuabox">
					<h1>24小时微信客服：</h1>
					<h2>130-8888-8888</h2>
					<h3>目前微信粉丝：<span>8888</span>&nbsp;&nbsp;人</h3>
				</div>
			</div>

		</div>

		<nav class="orangenav">
			<div class="center">
				<ul>
					<li>
						<a class="h" href="" style="padding: 12px 110px;">
							<div class="home"></div>首页</a>
					</li>
					<li><a class="h" href="">微商红人</a></li>
					<li><a class="h" href="">最新微商</a></li>
					<li><a class="h" href="">一元爱拍</a></li>
					<li><a class="h" href="">微商学院</a></li>
					<li><a style="background-image:none" class="h" href="">一手货源</a></li>
				</ul>

			</div>
		</nav>

		<div class="banner">

			<ul class="button">
				<li class="current"></li>
				<li></li>
				<li></li>
			</ul>
			<div class="imgbox">
				<img src="images/_18.jpg">
				<img src="images/_19.jpg">
				<img src="images/_20.jpg">
				<img src="images/_18.jpg">
			</div>
		</div>
		</div>

		<!--全国爱拍页面搜索框-->
		<div class="whhite">
			<div class="sousuobox seeknofloat">
				<div class="sousuob"></div>
				<input id="input1" type="text" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请输入关键字......">
				<a class="anniu" href="">搜索</a>
				<div class="remen">
					<p>近期热搜：</p>
					<a href="">白富美</a>
					<a href="">高富帅</a>
					<a href="">萝莉</a>
					<a href="">饼干西施</a>
					<a href="">白富美</a>
					<a href="">高富帅</a>
					<a href="">萝莉</a>
					<a href="">饼干西施</a>
				</div>
				<div class="clear"></div>
			</div>
			<!--选项卡全国/本地-->
			<div class="nationorlocal">
				<a class=" nopick active">全国商品</a>
				<span style="margin:-4px;"></span>
				<a class=" nopick" href= "{U('Index/local')}">本地服务</a>
				<div class="clear"></div>
			</div>

			<!--全国商品分类选项按钮-->
			<div class="nationgoods">
				<ul>
					<li class="active"><span class="ap-all"></span>
						<p>全部</p>
					</li>
					<li><span class="ap-tel"></span>
						<p>手机平板</p>
					</li>
					<li><span class="ap-pc"></span>
						<p>电脑办公</p>
					</li>
					<li><span class="ap-audio"></span>
						<p>数码影音</p>
					</li>
					<li><span class="ap-woman"></span>
						<p>女性时尚</p>
					</li>
					<li><span class="ap-food"></span>
						<p>美食天地</p>
					</li>
					<li><span class="ap-new"></span>
						<p>潮流新品</p>
					</li>
					<li><span class="ap-other"></span>
						<p>其他商品</p>
					</li>
				</ul>
				<div class="clear"></div>
			</div>

		</div>

		<div class="aipai_kuangkuang">
			<div class="jingque sort">
				<div class="hbox2" style="color: #fd7603;">排序：</div>
				<ul>
					<li class="n1 active">
						人气

					</li>
					<li class="n1">
						剩余人次

					</li>
					<li class="n1">
						最新商品

					</li>
					<li class="n1">
						总需人次<span class="sortarrowdown"></span>

					</li>
				</ul>
				<div class="yemian01" style="margin-left: 0px;margin-right: 15px;float: right;">
					<span style="float: left;margin-right: 15px;">1/66</span>
					<div class="zuo01"></div>
					<div class="you01"></div>

				</div>
			</div>
			<div class="aipai_rongqi">
				<!--hongyuanqiangstyle-->
				<!--爱拍商品列表-->

				<div class="aipai">
					<div class="chanpin">
						<a href="">
							<div class="chanpin_tu chanpinpic">

								<img src="images/cp_20.jpg"  />
								<div class="huo_biao"></div>
							</div>
						</a>
						<div class="geren_xinxi">
							<a href=""><img src="images/11_20.jpg" /></a>
							<a href=""><h1>李梅李梅ing李梅李梅ing</h1></a>
							<h2 class="dj1"><i>Lv.888</i></h2>
							<a href=""><span class="xying">白富美李梅李梅ing</span></a>
						</div>

					</div>
					<h3>2015冬季加厚夹棉男士纯色中长款宽松大衣 青年绅士厚款纯色上衣</h3>
					<div class="sjtiao">
						<ul id="skill">
							<li><span class="expand html5" style="width:95%"></span></li>
						</ul>
					</div>
					<h4>总需：12345人次</h4>
					<div class="yicanyu">
						<h1>8980</h1>
						<h2>以参与人次</h2>
					</div>
					<div class="shengyu">
						<h1>3365</h1>
						<h2>剩余人数</h2>
					</div>
					<a href="">
						<p>立即参与</p>
					</a>
					<div class="clear"></div>
				</div>

				<div class="aipai">
					<div class="chanpin">
						<a href="">
							<div class="chanpin_tu chanpinpic">

								<img src="images/cp_20.jpg"  />

							</div>
						</a>
						<div class="geren_xinxi">
							<a href=""><img src="images/11_20.jpg" /></a>
							<a href=""><h1>李梅李梅ing</h1></a>
							<h2 class="dj1"><i>Lv.8</i></h2>
							<a href=""><span class="xying">白富美</span></a>
						</div>

					</div>
					<h3>（第9期）iPhone6s Plus128GB</h3>
					<div class="sjtiao">
						<ul id="skill">
							<li><span class="expand html5" style="width:88%"></span></li>
						</ul>
					</div>
					<h4>总需：8980人次</h4>
					<div class="yicanyu">
						<h1>5289</h1>
						<h2>以参与人次</h2>
					</div>
					<div class="shengyu">
						<h1>5289</h1>
						<h2>剩余人数</h2>
					</div>
					<a href="">
						<p>立即参与</p>
					</a>
					<div class="clear"></div>
				</div>
				<div class="aipai">
					<div class="chanpin">
						<a href="">
							<div class="chanpin_tu chanpinpic">

								<img src="images/cp_20.jpg" />
								<div class="huo_biao"></div>
							</div>
						</a>
						<div class="geren_xinxi">
							<a href=""><img src="images/11_20.jpg" /></a>
							<a href=""><h1>李梅李梅ing</h1></a>
							<h2 class="dj1"><i>Lv.888</i></h2>
							<a href=""><span class="xying">白富美</span></a>
						</div>

					</div>
					<h3>（第9期）iPhone6s Plus128GB</h3>
					<div class="sjtiao">
						<ul id="skill">
							<li><span class="expand html5" style="width:68%"></span></li>
						</ul>
					</div>
					<h4>总需：8980人次</h4>
					<div class="yicanyu">
						<h1>5289</h1>
						<h2>以参与人次</h2>
					</div>
					<div class="shengyu">
						<h1>5289</h1>
						<h2>剩余人数</h2>
					</div>
					<a href="">
						<p>立即参与</p>
					</a>
					<div class="clear"></div>
				</div>

				<div class="aipai">
					<div class="chanpin">
						<a href="">
							<div class="chanpin_tu chanpinpic">

								<img src="images/cp_20.jpg" />

							</div>
						</a>
						<div class="geren_xinxi">
							<a href=""><img src="images/11_20.jpg" /></a>
							<a href=""><h1>李梅李梅ing</h1></a>
							<h2 class="dj1"><i>Lv.8</i></h2>
							<a href=""><span class="xying">白富美</span></a>
						</div>

					</div>
					<h3>（第9期）iPhone6s Plus128GB</h3>
					<div class="sjtiao">
						<ul id="skill">
							<li><span class="expand html5" style="width:100%"></span></li>
						</ul>
					</div>
					<h4>总需：8980人次</h4>
					<div class="yicanyu">
						<h1>5289</h1>
						<h2>以参与人次</h2>
					</div>
					<div class="shengyu">
						<h1>5289</h1>
						<h2>剩余人数</h2>
					</div>
					<a href="">
						<p>立即参与</p>
					</a>
					<div class="clear"></div>
				</div>
				<div class="aipai">
					<div class="chanpin">
						<a href="">
							<div class="chanpin_tu chanpinpic">

								<img src="images/cp_20.jpg"  />
								<div class="huo_biao"></div>
							</div>
						</a>
						<div class="geren_xinxi">
							<a href=""><img src="images/11_20.jpg" /></a>
							<a href=""><h1>李梅李梅ing</h1></a>
							<h2 class="dj1"><i>Lv.888</i></h2>
							<a href=""><span class="xying">白富美</span></a>
						</div>

					</div>
					<h3>（第9期）iPhone6s Plus128GB</h3>
					<div class="sjtiao">
						<ul id="skill">
							<li><span class="expand html5" style="width:80%"></span></li>
						</ul>
					</div>
					<h4>总需：8980人次</h4>
					<div class="yicanyu">
						<h1>5289</h1>
						<h2>以参与人次</h2>
					</div>
					<div class="shengyu">
						<h1>5289</h1>
						<h2>剩余人数</h2>
					</div>
					<a href="">
						<p>立即参与</p>
					</a>
					<div class="clear"></div>
				</div>

				<div class="aipai">
					<div class="chanpin">
						<a href="">
							<div class="chanpin_tu chanpinpic">

								<img src="images/cp_20.jpg" />

							</div>
						</a>
						<div class="geren_xinxi">
							<a href=""><img src="images/11_20.jpg" /></a>
							<a href=""><h1>李梅李梅ing</h1></a>
							<h2 class="dj1"><i>Lv.8</i></h2>
							<a href=""><span class="xying">白富美</span></a>
						</div>

					</div>
					<h3>（第9期）iPhone6s Plus128GB</h3>
					<div class="sjtiao">
						<ul id="skill">
							<li><span class="expand html5" style="width:60%"></span></li>
						</ul>
					</div>
					<h4>总需：8980人次</h4>
					<div class="yicanyu">
						<h1>5289</h1>
						<h2>以参与人次</h2>
					</div>
					<div class="shengyu">
						<h1>5289</h1>
						<h2>剩余人数</h2>
					</div>
					<a href="">
						<p>立即参与</p>
					</a>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
				<div class="aipai">
					<div class="chanpin">
						<a href="">
							<div class="chanpin_tu chanpinpic">

								<img src="images/cp_20.jpg" />
								<div class="huo_biao"></div>
							</div>
						</a>
						<div class="geren_xinxi">
							<a href=""><img src="images/11_20.jpg" /></a>
							<a href=""><h1>李梅李梅ing</h1></a>
							<h2 class="dj1"><i>Lv.888</i></h2>
							<a href=""><span class="xying">白富美</span></a>
						</div>

					</div>
					<h3>（第9期）iPhone6s Plus128GB</h3>
					<div class="sjtiao">
						<ul id="skill">
							<li><span class="expand html5" style="width:10%"></span></li>
						</ul>
					</div>
					<h4>总需：8980人次</h4>
					<div class="yicanyu">
						<h1>5289</h1>
						<h2>以参与人次</h2>
					</div>
					<div class="shengyu">
						<h1>5289</h1>
						<h2>剩余人数</h2>
					</div>
					<a href="">
						<p>立即参与</p>
					</a>
					<div class="clear"></div>
				</div>

				<div class="aipai">
					<div class="chanpin">
						<a href="">
							<div class="chanpin_tu chanpinpic">

								<img src="images/cp_20.jpg"  />

							</div>
						</a>
						<div class="geren_xinxi">
							<a href=""><img src="images/11_20.jpg" /></a>
							<a href=""><h1>李梅李梅ing</h1></a>
							<h2 class="dj1"><i>Lv.8</i></h2>
							<a href=""><span class="xying">白富美</span></a>
						</div>

					</div>
					<h3>（第9期）iPhone6s Plus128GB</h3>
					<div class="sjtiao">
						<ul id="skill">
							<li><span class="expand html5" style="width:30%"></span></li>
						</ul>
					</div>
					<h4>总需：8980人次</h4>
					<div class="yicanyu">
						<h1>5289</h1>
						<h2>以参与人次</h2>
					</div>
					<div class="shengyu">
						<h1>5289</h1>
						<h2>剩余人数</h2>
					</div>
					<a href="">
						<p>立即参与</p>
					</a>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
				
				<!--底部的翻页按钮-->
				<div class="tiaoye_box" style="margin-top: 40px;">
				<div class="tiaozuo">

				</div>
				<div class="a_hezi">
					<a href="">1</a>
					<a href="">2</a>
					<a href="">3</a>
					<a href="">4</a>
					<a href="">5</a>
					<a href="">6</a>
				</div>
				<h1>...</h1>
				<div class="tiaoyou">

				</div>
				<p style="margin-left:13px">共100页</p>
				<p style="margin-left:18px">到</p>
				<input class="input2" value="1" type="text">
				<p>页</p>
				<a class="queding" href="">确定</a>
			</div>
			<div class="clear"></div>
			</div>
			
		</div>

		<footer>
			<div class="last">
				<div class="left">
					<div class="shang">
						<a href="">关于爱微商</a>
						<div class="xduanxian"></div>
						<a href="">在爱微商工作</a>
						<div class="xduanxian"></div>
						<a href="">联系我们</a>
						<div class="xduanxian"></div>
						<a href="">免责声明</a>
						<div class="xduanxian"></div>
						<a href="">帮助中心</a>
						<div class="xia">
							<p>闽ICP13017663号-7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;闽网文许子【2014】1187-018</p>
							<p style="margin-top:8px">增值电线业务经营许可证：闽B2-20140081</p>
						</div>
					</div>
				</div>
				<div class="right">
					<div class="shaoma1">
						<img src="images/shouye_144.jpg">
						<h3>手机爱微商</h3>
					</div>
					<div class="shaoma2">
						<img src="images/shouye_144.jpg">
						<h3>24小时客服</h3>
					</div>
					<div class="shaoma3">
						<h1>24小时手机<br/>客服微信号</h1>
						<h2>130-8888-8888</h2>

					</div>
				</div>
			</div>
		</footer>

		<link type="text/css" rel="stylesheet" href="css/chongzhi.css">
		<link type="text/css" rel="stylesheet" href="css/gongyong.css">
		<link rel="stylesheet" href="css/leibiao.css" />
		<link type="text/css" rel="stylesheet" href="css/style.css">

		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/dongtai.js"></script>

		<script>
			checkInput();
		</script>

		<script type="text/javascript" src="js/jquerysenior.js"></script>
		<script type="text/javascript" src="js/xiaoguo.js"></script>
		<link rel="stylesheet" href="css/CSSSprites.css" />

	</body>

</html>