<script>
    $(window).resize(adjust_navbar).resize();
</script>
<!-- 为了让html5shiv生效，请将所有的CSS都添加到此处 -->
<link type="text/css" rel="stylesheet" href="__STATIC__/qtip/jquery.qtip.css"/>


<!--广告-->
<!--<script type='text/javascript' src=''></script>-->
<!--广告js-->
<script src="__PUBLIC__/js.php?t=js&f=js/com/com.functions.js,js/com/com.notify.class.js,js/com/com.ucard.js,static/qtip/jquery.qtip.js,js/ext/slimscroll/jquery.slimscroll.min.js,js/ext/magnific/jquery.magnific-popup.min.js,js/ext/placeholder/placeholder.js,js/ext/atwho/atwho.js,zui/js/zui.js,js/ext/lazyload/lazyload.js&v={$site.sys_version}.js"></script>
<script>
     var weiquan_comment_order = "{:modC('COMMENT_ORDER',0,'WEIQUAN')}";
    $(function () {
        if (!document.getElementById('sub_nav')) {
            $('#main-container').css('margin-top', 70 + 'px');
        }
    });
</script>
<script type="text/javascript" src="__STATIC__/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="__THEME_COMMON_STATIC__/js/core.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/ext/layer/layer.js" ></script>
<script type="text/javascript" src="__THEME_COMMON_STATIC__/js/common.js"></script>
