<div class="data_menu left">
    <div class="id_set">
        <div class="set_title">
            <h1 style="border:none" class="id_name left px16">账号设置</h1>
            <div class="set_logo right set_logo2"></div>
            <div class="clear"></div>
        </div>
        <div class="data_down">
            <a href="{:U('Ucenter/Config/index')}"><h2 <if condition="ACTION_NAME eq 'index'"> class="basic_data clear menu_style"</if>>基本资料</h2></a>
            <a href="{:U('Ucenter/Config/avatar')}"> <h2 <if condition="ACTION_NAME eq 'avatar'"> class="basic_data clear menu_style"</if>>修改头像</h2></a>
            <a href="{:U('Ucenter/Config/accountManagemen')}"> <h2 <if condition="ACTION_NAME eq 'accountmanagemen'"> class="basic_data clear menu_style"</if>>账号管理</h2></a>
            <a href="{:U('Ucenter/Address/items')}"><h2 <if condition="ACTION_NAME eq 'items'"> class="basic_data clear menu_style"</if>>地址管理</h2></a>
            <div class="clear"></div>
        </div>
        <div class="set_title">
            <h1 class="aipai px16 left">一元爱拍</h1>
            <div class="set_logo right"></div>
            <div class="clear"></div>
        </div>
        <div class="data_down">
            <a href="{:U('Ucenter/Ipai/myIpai')}"><h2 class=" clear">发起记录</h2></a>
            <a href="{:U('Ucenter/Ipai/myParticipate')}"> <h2 class="">参与记录</h2></a>
            <a href="{:U('Ucenter/Ipai/myWinning')}"><h2 class="">中奖纪录</h2></a>
            <a href="{:U('Ucenter/Ipai/authRealName')}"><h2 class="">认证一元爱拍</h2></a>
            <a href=""><div class="clear"></div>
            </a></div><a href="">
        </a><a href=""><h1 class="approve_goods px16">认证一手货源</h1></a>
        <a href=""><h1 class="money_magage px16">财务管理</h1></a>
        <a href=""><h1 class="my_message px16">我的消息</h1></a>
        <div class="set_title">
            <h1 class="rights px16 left">维权管理</h1>
            <div class="set_logo right"></div>
            <div class="clear"></div>
        </div>
        <div class="data_down hide">
            <a href=""><h2 class=" clear">我的投诉</h2></a>
            <a href=""> <h2 class="">我的反馈</h2></a>       
            <a href=""><div class="clear"></div>
            </a></div><a href="">
            <div class="clear"></div> 
        </a>

    </div>
    <a href="">
        <div class="clear"></div>  
    </a>
</div>