<!--下面是logo部分-->
<div class="logobox">
    <div class="logo">
        <a href="{:U('/@')}">
            <div class="a-logo left">
                <img src="__THEME_COMMON_STATIC__/images/base/a-logo.png" />
            </div>
        </a>
        <div class="logo-cut left"></div>
        <div class="a-love left">
            <img src="__THEME_COMMON_STATIC__/images/base/oneyuan.png" alt="logo" />
        </div>

        <div class="sousuobox">

            <input class="search" id="search" type="text" placeholder="请输入关键字">
            <p class="anniu handle">搜索</p>
            <div class="remen clear">
                <p class="left">近期热搜：</p>
                <div class="rollkeys_box left">
                    <dl class="roll_keys">
                        <dd>
                            <a href="">白富美</a>
                            <a href="">高富帅</a>
                            <a href="">萝莉</a>
                            <a href="">饼干西施</a>
                            <a href="">白富美</a>
                            <a href="">高富帅</a>
                            <a href="">萝莉</a>
                            <a href="">饼干西施</a>

                        </dd>
                        <dd>
                            <a href="">白富美</a>
                            <a href="">高富帅</a>
                            <a href="">萝莉</a>
                            <a href="">饼干西施</a>
                            <a href="">白富美</a>
                            <a href="">高富帅</a>
                            <a href="">萝莉</a>
                            <a href="">饼干西施</a>
                        </dd>
                        <dd>
                            <a href="">白富美</a>
                            <a href="">高富帅</a>
                            <a href="">萝莉</a>
                            <a href="">饼干西施</a>
                            <a href="">白富美</a>
                            <a href="">高富帅</a>
                            <a href="">萝莉</a>
                            <a href="">饼干西施</a>
                        </dd>
                        <dd>
                            <a href="">白富美</a>
                            <a href="">高富帅</a>
                            <a href="">萝莉</a>
                            <a href="">饼干西施</a>
                            <a href="">白富美</a>
                            <a href="">高富帅</a>
                            <a href="">萝莉</a>
                            <a href="">饼干西施</a>
                        </dd>

                    </dl>
                </div>
            </div>
        </div>

        <div class="dianhuabox right">
            <h1 class="px14">24小时微信客服：</h1>
            <h2>130-8888-8888</h2>
            <h3 class="px14">目前微信粉丝：<span>8888</span>&nbsp;&nbsp;人</h3>
        </div>
    </div>

</div>
<!--logo结束-->
