/*上传图片框*/
.XT_insert_image li {
	list-style: none;
	float: left;
}

.del {
	background: rgba(0, 0, 0, 0.7);
	color: #fff;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 80px;
	height: 22px;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
}

.img-list li {
	float: left;
	margin: 10px 5px 0 0;
	width: 80px;
	height: 80px;
	cursor: pointer;
	position: relative;
}

.XT_image {
	width: 346px;
	z-index: 1001;
	position: absolute !important;
}

.load {
	padding: 30px;
}

.upload-img-box .upload-pre-item img {
	width: 100px;
}

.upload-img-box .upload-pre-item .del_btn {
	width: 100px;
	position: absolute;
	color: #fff;
	margin-top: -30px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	text-align: center;
}

.upload-img-box .upload-pre-item .opacity {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	background: #000;
	opacity: 0.5;
}

.multiImage .upload-img-box .upload-pre-item .each {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;
}

.multiImage .upload-img-box .upload-pre-item img {
	width: 100px;
	height: 100px;
}

.multiImage .upload-img-box .upload-pre-item .del_btn {
	width: 100px;
	position: absolute;
	color: #fff;
	margin-top: -30px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
}

.multiImage .upload-img-box .upload-pre-item .opacity {
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	background: #000;
	opacity: 0.5;
}

.white-popup {
	position: relative;
	background: #FFF;
	padding: 20px;
	width: auto;
	max-width: 500px;
	margin: 20px auto;
}

.form-control:-moz-placeholder {
	color: #808080;
}

.form-control::-moz-placeholder {
	color: #808080;
}

.form-control:-ms-input-placeholder {
	color: #808080;
}

.form-control::-webkit-input-placeholder {
	color: #808080;
}

.form-control {
	display: block;
	width: 95%;
	height: 32px;
	padding: 5px 8px;
	font-size: 13px;
	line-height: 1.53846154;
	color: #222;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
	border-color: #18609d;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(24, 96, 157, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(24, 96, 157, .6);
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control
	{
	cursor: not-allowed;
	background-color: #e5e5e5;
}

textarea.form-control {
	height: 52px;
}

.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}

.btn {
	background: #25c501;
	color: #FFF;
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;
	line-height: 30px;
	border-radius: 2px;
}

.btn-primary {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
	background-color: #25c50;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active,
	.btn-primary.active, .open .dropdown-toggle.btn-primary {
	border-radius: 2px;
	color: #fff;
	background-color: #33CC66;
	-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .1);
	box-shadow: 0 2px 1px rgba(0, 0, 0, .1);
}

.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary
	{
	background-image: none;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary,
	.btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover,
	.btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus,
	.btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active,
	.btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active
	{
	background-color: #108bf1;
	border-color: #0d7ddb;
}

.btn-warning {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
	background-color: #f39c11;
	border-color: #bd780a;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active,
	.btn-warning.active, .open .dropdown-toggle.btn-warning {
	color: #fff;
	background-color: #d1840b;
	border-color: #a56908;
	-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .1);
	box-shadow: 0 2px 1px rgba(0, 0, 0, .1);
}

.btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning
	{
	background-image: none;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.btn-warning.disabled, .btn-warning[disabled], fieldset[disabled] .btn-warning,
	.btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover,
	.btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus,
	.btn-warning.disabled:active, .btn-warning[disabled]:active, fieldset[disabled] .btn-warning:active,
	.btn-warning.disabled.active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning.active
	{
	background-color: #f39c11;
	border-color: #df8e0b;
}

.btn-danger {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
	background-color: #ee4e2f;
	border-color: #cf3011;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active,
	.open .dropdown-toggle.btn-danger {
	color: #fff;
	background-color: #e23412;
	border-color: #b72a0f;
	-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .1);
	box-shadow: 0 2px 1px rgba(0, 0, 0, .1);
}

.btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger
	{
	background-image: none;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.btn-danger.disabled, .btn-danger[disabled], fieldset[disabled] .btn-danger,
	.btn-danger.disabled:hover, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger:hover,
	.btn-danger.disabled:focus, .btn-danger[disabled]:focus, fieldset[disabled] .btn-danger:focus,
	.btn-danger.disabled:active, .btn-danger[disabled]:active, fieldset[disabled] .btn-danger:active,
	.btn-danger.disabled.active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger.active
	{
	background-color: #ee4e2f;
	border-color: #ec3a17;
}

.btn-success {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
	background-color: #2ac25f;
	border-color: #1f9046;
}

.btn-success:hover, .btn-success:focus, .btn-success:active,
	.btn-success.active, .open .dropdown-toggle.btn-success {
	color: #fff;
	background-color: #23a04f;
	border-color: #1b7b3c;
	-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .1);
	box-shadow: 0 2px 1px rgba(0, 0, 0, .1);
}

.btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success
	{
	background-image: none;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success,
	.btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover,
	.btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus,
	.btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active,
	.btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active
	{
	background-color: #2ac25f;
	border-color: #25ad55;
}

.btn-info {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
	background-color: #00c3b6;
	border-color: #00867d;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active,
	.open .dropdown-toggle.btn-info {
	color: #fff;
	background-color: #009a90;
	border-color: #006c65;
	-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .1);
	box-shadow: 0 2px 1px rgba(0, 0, 0, .1);
}

.btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
	background-image: none;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info,
	.btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover,
	.btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus,
	.btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active,
	.btn-info.disabled.active, .btn-info[disabled].active, fieldset[disabled] .btn-info.active
	{
	background-color: #00c3b6;
	border-color: #00aa9e;
}

.btn-link {
	font-weight: normal;
	color: #18609d;
	text-shadow: none;
	cursor: pointer;
	background: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn-link, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link,
	.btn-link:hover, .btn-link:focus {
	border-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn-link:hover, .btn-link:focus {
	color: #0e385a;
}

.btn-link[disabled]:hover, fieldset[disabled] .btn-link:hover, .btn-link[disabled]:focus,
	fieldset[disabled] .btn-link:focus {
	color: #ddd;
	text-decoration: none;
}

.btn-lg {
	padding: 10px 16px;
	font-size: 17px;
	line-height: 1.25;
	border-radius: 0;
}

.btn-sm, .btn-xs, .btn-mini {
	padding: 2px 8px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 0;
}

.btn-xs, .btn-mini {
	padding: 1px 5px;
}

.btn-block {
	display: block;
	width: 100%;
	padding-right: 0;
	padding-left: 0;
}

.btn-block+.btn-block {
	margin-top: 5px;
}

.label {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #808080;
	border-radius: .25em;
}

.label[href]:hover, .label[href]:focus {
	color: #fff;
	background-color: #666;
}

.label.label-circle {
	color: #808080;
	background: none;
	border: 1px solid #808080;
}

.label[href]:hover, .label[href]:focus {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

.label:empty {
	display: none;
}

.label-badge {
	display: inline-block;
	min-width: 10px;
	padding: 5px 7px;
	font-size: 12px;
	line-height: 1;
	border-radius: 12px;
}

.label-dot {
	display: inline-block;
	width: 10px;
	height: 10px;
	padding: 0;
	line-height: 14px;
	text-indent: -9999em;
	border-radius: 5px;
}

.label-dot:empty {
	display: inline-block;
}

.btn .label-badge {
	position: relative;
	top: -1px;
}

.nav>li>a>.label-badge, .nav>li>a>.label-dot {
	padding-top: 3px;
	padding-bottom: 3px;
	margin-left: 3px;
}

.label-primary {
	background-color: #108bf1;
}

.label-primary[href]:hover, .label-primary[href]:focus {
	color: #fff;
	background-color: #0b70c3;
}

.label-primary.label-circle {
	color: #108bf1;
	background: none;
	border: 1px solid #108bf1;
}

.label-success {
	background-color: #2ac25f;
}

.label-success[href]:hover, .label-success[href]:focus {
	color: #fff;
	background-color: #21984a;
}

.label-success.label-circle {
	color: #2ac25f;
	background: none;
	border: 1px solid #2ac25f;
}

.label-info {
	background-color: #00c3b6;
}

.label-info[href]:hover, .label-info[href]:focus {
	color: #fff;
	background-color: #009086;
}

.label-info.label-circle {
	color: #00c3b6;
	background: none;
	border: 1px solid #00c3b6;
}

.label-warning {
	background-color: #f39c11;
}

.label-warning[href]:hover, .label-warning[href]:focus {
	color: #fff;
	background-color: #c77e0a;
}

.label-warning.label-circle {
	color: #f39c11;
	background: none;
	border: 1px solid #f39c11;
}

.label-danger {
	background-color: #ee4e2f;
}

.label-danger[href]:hover, .label-danger[href]:focus {
	color: #fff;
	background-color: #d83212;
}

.label-danger.label-circle {
	color: #ee4e2f;
	background: none;
	border: 1px solid #ee4e2f;
}

input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block
	{
	width: 100%;
}

.btn .caret {
	margin-left: 0;
}

.btn-lg .caret {
	border-width: 5px 5px 0;
	border-bottom-width: 0;
}

.dropup .btn-lg .caret {
	border-width: 0 5px 5px;
}

[data-toggle="buttons"]>.btn>input[type="radio"], [data-toggle="buttons"]>.btn>input[type="checkbox"]
	{
	display: none;
}

.btn-default .caret {
	border-top-color: #353535;
}

.btn-primary .caret, .btn-success .caret, .btn-warning .caret,
	.btn-danger .caret, .btn-info .caret {
	border-top-color: #fff;
}

.dropup .btn-default .caret {
	border-bottom-color: #353535;
}

.dropup .btn-primary .caret, .dropup .btn-success .caret, .dropup .btn-warning .caret,
	.dropup .btn-danger .caret, .dropup .btn-info .caret {
	border-bottom-color: #fff;
}

.btn-group, .btn-group-vertical {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.btn-group>.btn, .btn-group-vertical>.btn {
	position: relative;
	float: left;
}

.btn-group>.btn:hover, .btn-group-vertical>.btn:hover, .btn-group>.btn:focus,
	.btn-group-vertical>.btn:focus, .btn-group>.btn:active,
	.btn-group-vertical>.btn:active, .btn-group>.btn.active,
	.btn-group-vertical>.btn.active {
	z-index: 2;
}

.btn-group>.btn:focus, .btn-group-vertical>.btn:focus {
	outline: none;
}

.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn,
	.btn-group .btn-group+.btn-group {
	margin-left: -1px;
}

.btn-toolbar:before, .btn-toolbar:after {
	/* 1 */
	display: table;
	content: " ";
	/* 2 */
}

.btn-toolbar:after {
	clear: both;
}

.btn-toolbar:before, .btn-toolbar:after {
	/* 1 */
	display: table;
	content: " ";
	/* 2 */
}

.btn-toolbar:after {
	clear: both;
}

.btn-toolbar .btn-group {
	float: left;
}

.btn-toolbar>.btn+.btn, .btn-toolbar>.btn-group+.btn, .btn-toolbar>.btn+.btn-group,
	.btn-toolbar>.btn-group+.btn-group {
	margin-left: 5px;
}

.btn-group
>
.btn
:not
 
(
:first-child
 
)
:not
 
(
:last-child
 
)
:not
 
(
.dropdown-toggle

	
)
{
border-radius
:
 
0;
}
.btn-group>.btn:first-child {
	margin-left: 0;
}

.btn-group
>
.btn
:first-child
:not
 
(
:last-child
 
)
:not
 
(
.dropdown-toggle
 
)
{
border-top-right-radius
:
 
0;
border-bottom-right-radius
:
 
0;
}
.btn-group
>
.btn
:last-child
:not
 
(
:first-child
 
),
.btn-group
>
.dropdown-toggle
:not

	
(
:first-child
 
)
{
border-top-left-radius
:
 
0;
border-bottom-left-radius
:
 
0;
}
.btn-group>.btn-group {
	float: left;
}

.btn-group>.btn-group:not (:first-child ):not (:last-child ) >.btn {
	border-radius: 0;
}

.btn-group>.btn-group:first-child>.btn:last-child, .btn-group>.btn-group:first-child>.dropdown-toggle
	{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.btn-group>.btn-group:last-child>.btn:first-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.btn-group .dropdown-toggle:active, .btn-group.open .dropdown-toggle {
	outline: 0;
}

.btn-group-xs>.btn {
	padding: 2px 8px;
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 0;
}

.btn-group-sm>.btn {
	padding: 2px 8px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 0;
}

.btn-group-lg>.btn {
	padding: 10px 16px;
	font-size: 17px;
	line-height: 1.25;
	border-radius: 0;
}

.btn-group>.btn+.dropdown-toggle {
	padding-right: 8px;
	padding-left: 8px;
}

.btn-group>.btn-lg+.dropdown-toggle {
	padding-right: 12px;
	padding-left: 12px;
}

.btn-group.open .dropdown-toggle {
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-group-vertical>.btn, .btn-group-vertical>.btn-group {
	display: block;
	float: none;
	width: 100%;
	max-width: 100%;
}

.btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after
	{
	/* 1 */
	display: table;
	content: " ";
	/* 2 */
}

.btn-group-vertical>.btn-group:after {
	clear: both;
}

.btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after
	{
	/* 1 */
	display: table;
	content: " ";
	/* 2 */
}

.btn-group-vertical>.btn-group:after {
	clear: both;
}

.btn-group-vertical>.btn-group>.btn {
	float: none;
}

.btn-group-vertical>.btn+.btn, .btn-group-vertical>.btn+.btn-group,
	.btn-group-vertical>.btn-group+.btn, .btn-group-vertical>.btn-group+.btn-group
	{
	margin-top: -1px;
	margin-left: 0;
}

.btn-group-vertical
>
.btn
:not
 
(
:first-child
 
)
:not
 
(
:last-child
 
)
{
border-radius
:
 
0;
}
.btn-group-vertical
>
.btn
:first-child
:not
 
(
:last-child
 
)
{
border-top-right-radius
:
 
0;
border-bottom-right-radius
:
 
0;
border-bottom-left-radius
:
 
0;
}
.btn-group-vertical
>
.btn
:last-child
:not
 
(
:first-child
 
)
{
border-top-left-radius
:
 
0;
border-top-right-radius
:
 
0;
border-bottom-left-radius
:
 
0;
}
.btn-group-vertical>.btn-group:not (:first-child ):not (:last-child ) >.btn
	{
	border-radius: 0;
}

.btn-group-vertical>.btn-group:first-child>.btn:last-child,
	.btn-group-vertical>.btn-group:first-child>.dropdown-toggle {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.btn-group-vertical>.btn-group:last-child>.btn:first-child {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.modal-open {
	overflow: hidden;
}

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	display: none;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0;
}

.modal.fade .modal-dialog {
	-webkit-transition: -webkit-transform .3s ease-out;
	-o-transition: -o-transform .3s ease-out;
	transition: transform .3s ease-out;
	-webkit-transform: translate3d(0, -25%, 0);
	transform: translate3d(0, -25%, 0);
}

.modal.in .modal-dialog {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.modal>.loader {
	display: none;
}

.modal.modal-loading .modal-dialog {
	opacity: 0;
}

.modal.modal-loading .loader {
	position: absolute;
	top: 35%;
	left: 50%;
	display: block;
	width: 80px;
	margin-left: -40px;
	font-size: 56px;
	color: #fff;
	text-align: center;
}

.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto;
}

.modal-iframe .modal-body>iframe {
	border-radius: 0 0 0 0;
}

.modal-dialog {
	position: relative;
	width: auto;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 0;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
/* full screen modal */
.modal-fullscreen .modal-dialog {
	width: 100% !important;
	height: 100% !important;
	border-radius: 0;
}

.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000;
}

.modal-backdrop.fade {
	filter: alpha(opacity = 0);
	opacity: 0;
}

.modal-backdrop.in {
	filter: alpha(opacity = 50);
	opacity: .5;
}

.modal-header {
	min-height: 16.53846154px;
	padding: 15px;
	border-bottom: 1px solid #e5e5e5;
}

.modal-header .close {
	margin-top: -2px;
}

.modal-title {
	margin: 0;
	line-height: 1.53846154;
}

.modal-body {
	position: relative;
	padding: 15px;
}

.modal-footer {
	padding: 15px;
	text-align: right;
	border-top: 1px solid #e5e5e5;
}

.modal-footer .btn+.btn {
	margin-bottom: 0;
	margin-left: 5px;
}

.modal-footer .btn-group .btn+.btn {
	margin-left: -1px;
}

.modal-footer .btn-block+.btn-block {
	margin-left: 0;
}

.modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
}

@media ( min-width : 768px) {
	.modal-dialog {
		width: 600px;
		margin: 30px auto;
		-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
		box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	}
	.modal-sm {
		width: 300px;
	}
}

@media ( min-width : 992px) {
	.modal-lg {
		width: 900px;
	}
}

.close {
	float: right;
	font-size: 19.5px;
	font-weight: bold;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity = 20);
	opacity: .2;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	filter: alpha(opacity = 50);
	opacity: .5;
}

button.close {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
}

.pager {
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 0;
}

.pager>li {
	display: inline;
}

.pager>li>a, .pager>li>span {
	position: relative;
	float: left;
	padding: 5px 12px;
	margin-left: -1px;
	line-height: 1.53846154;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-transition: all .3s cubic-bezier(.175, .885, .32, 1);
	-o-transition: all .3s cubic-bezier(.175, .885, .32, 1);
	transition: all .3s cubic-bezier(.175, .885, .32, 1);
}

.pager>li:first-child>a, .pager>li:first-child>span {
	margin-left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.pager>li:last-child>a, .pager>li:last-child>span {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.pager>li>a:hover, .pager>li>span:hover, .pager>li>a:focus, .pager>li>span:focus
	{
	background-color: #e5e5e5;
}

.pager>.active>a, .pager>.active>span, .pager>.active>a:hover, .pager>.active>span:hover,
	.pager>.active>a:focus, .pager>.active>span:focus {
	z-index: 2;
	color: #fff;
	cursor: default;
	background-color: #25c501;
}

.pager>.disabled>span, .pager>.disabled>span:hover, .pager>.disabled>span:focus,
	.pager>.disabled>a, .pager>.disabled>a:hover, .pager>.disabled>a:focus
	{
	color: #ddd;
	cursor: not-allowed;
	background-color: #fff;
	border-color: #ddd;
}

.pager-justify {
	display: block;
}

.pager-justify:before, .pager-justify:after {
	/* 1 */
	display: table;
	content: " ";
	/* 2 */
}

.pager-justify:after {
	clear: both;
}

.pager-justify:before, .pager-justify:after {
	/* 1 */
	display: table;
	content: " ";
	/* 2 */
}

.pager-justify:after {
	clear: both;
}

.pager-justify .next>a, .pager-justify .next>span {
	float: right;
}

.pager-justify .previous>a, .pager-justify .previous>span {
	float: left;
}

.pager-lg>li>a, .pager-lg>li>span {
	padding: 10px 16px;
	font-size: 17px;
}

.pager-lg>li:first-child>a, .pager-lg>li:first-child>span {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.pager-lg>li:last-child>a, .pager-lg>li:last-child>span {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.pager-sm>li>a, .pager-sm>li>span {
	padding: 2px 8px;
	font-size: 12px;
}

.pager-sm>li:first-child>a, .pager-sm>li:first-child>span {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.pager-sm>li:last-child>a, .pager-sm>li:last-child>span {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.pager-pills>li:first-child>a, .pager-pills>li:first-child>span {
	border-radius: 16px 0 0 16px;
}

.pager-pills>li:last-child>a, .pager-pills>li:last-child>span {
	border-radius: 0 16px 16px 0;
}

.pager-pills.pager-justify>li>a, .pager-pills.pager-justify>li>span {
	border-radius: 16px;
}

.pager-loose {
	display: block;
	margin: 20px 0;
}

.pager-loose:before, .pager-loose:after {
	/* 1 */
	display: table;
	content: " ";
	/* 2 */
}

.pager-loose:after {
	clear: both;
}

.pager-loose:before, .pager-loose:after {
	/* 1 */
	display: table;
	content: " ";
	/* 2 */
}

.pager-loose:after {
	clear: both;
}

.pager-loose.pager-pills>li>a, .pager-loose.pager-pills>li>span {
	border-radius: 16px;
}

.pager-loose>li>a, .pager-loose>li>span {
	margin-left: 5px;
}

.pager-loose>li:first-child>a, .pager-loose>li:first-child>span {
	margin-left: 0;
}

/*icon*/
@font-face {
	font-family: ZenIcon;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/zenicon.eot?v=1.0.0');
	src: url('../fonts/zenicon.eot?#iefix&v=1.0.0')
		format('embedded-opentype'), url('../fonts/zenicon.woff?v=1.0.0')
		format('woff'), url('../fonts/zenicon.ttf?v=1.0.0') format('truetype'),
		url('../fonts/zenicon.svg#regular?v=1.0.0') format('svg');
}

[class^="icon-"], [class*=" icon-"] {
	font-family: ZenIcon;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	text-transform: none;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-lg:before, .icon-large:before {
	font-size: 1.33333333em;
	vertical-align: -10%;
}

a [class^="icon-"], a [class*=" icon-"] {
	display: inline;
}

.icon-2x {
	font-size: 28px;
}

.icon-3x {
	font-size: 42px;
}

.icon-4x {
	font-size: 56px;
}

.icon-5x {
	font-size: 70px;
}

.icon-white, .nav-pills>.active>a>[class^="icon-"], .nav-pills>.active>a>[class*=" icon-"],
	.nav-list>.active>a>[class^="icon-"], .nav-list>.active>a>[class*=" icon-"],
	.navbar-inverse .nav>.active>a>[class^="icon-"], .navbar-inverse .nav>.active>a>[class*=" icon-"],
	.dropdown-menu>li>a:hover>[class^="icon-"], .dropdown-menu>li>a:hover>[class*=" icon-"],
	.dropdown-menu>.active>a>[class^="icon-"], .dropdown-menu>.active>a>[class*=" icon-"],
	.dropdown-submenu:hover>a>[class^="icon-"], .dropdown-submenu:hover>a>[class*=" icon-"]
	{
	background-image: none;
}

.icon-spin {
	display: inline-block;
	-webkit-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
}

a .icon-spin {
	display: inline-block;
	text-decoration: none;
}

@
-webkit-keyframes spin { 0% {
	-webkit-transform: rotate(0deg);
}

100%
{
-webkit-transform


:

 

rotate


(359
deg
);


  

}
}
@
-o-keyframes spin { 0% {
	-o-transform: rotate(0deg);
}

100%
{
-o-transform


:

 

rotate


(359
deg
);


  

}
}
@
-ms-keyframes spin { 0% {
	-ms-transform: rotate(0deg);
}

100%
{
-ms-transform


:

 

rotate


(359
deg
);


  

}
}
@
keyframes spin { 0% {
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}

100%
{
-webkit-transform


:

 

rotate


(359
deg
);


         

-o-transform


:

 

rotate


(359
deg
);


            

transform


:

 

rotate


(359
deg
);


  

}
}
.icon-rotate-90:before {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.icon-rotate-180:before {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.icon-rotate-270:before {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
}

.icon-flip-horizontal:before {
	-webkit-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

.icon-flip-vertical:before {
	-webkit-transform: scale(1, -1);
	-ms-transform: scale(1, -1);
	-o-transform: scale(1, -1);
	transform: scale(1, -1);
}

a .icon-rotate-90:before, a .icon-rotate-180:before, a .icon-rotate-270:before,
	a .icon-flip-horizontal:before, a .icon-flip-vertical:before {
	display: inline-block;
}

.icon-music:before {
	content: "\e602";
}

.icon-search:before {
	content: "\e603";
}

.icon-envelope:before {
	content: "\e604";
}

.icon-heart:before {
	content: "\e605";
}

.icon-star:before {
	content: "\e606";
}

.icon-star-empty:before {
	content: "\e607";
}

.icon-user:before {
	content: "\e608";
}

.icon-film:before {
	content: "\e609";
}

.icon-th-large:before {
	content: "\e60a";
}

.icon-th:before {
	content: "\e60b";
}

.icon-th-list:before {
	content: "\e60c";
}

.icon-ok:before {
	content: "\e60d";
}

.icon-remove:before {
	content: "\d7";
}

.icon-zoom-in:before {
	content: "\e60f";
}

.icon-zoom-out:before {
	content: "\e610";
}

.icon-off:before {
	content: "\e611";
}

.icon-cog:before {
	content: "\e613";
}

.icon-trash:before {
	content: "\e614";
}

.icon-home:before {
	content: "\e615";
}

.icon-file:before {
	content: "\e616";
}

.icon-time:before {
	content: "\e617";
}

.icon-download-alt:before {
	content: "\e618";
}

.icon-download:before {
	content: "\e619";
}

.icon-upload:before {
	content: "\e61a";
}

.icon-inbox:before {
	content: "\e61b";
}

.icon-play-circle:before {
	content: "\e61c";
}

.icon-repeat:before {
	content: "\e61d";
}

.icon-refresh:before {
	content: "\e61e";
}

.icon-list-alt:before {
	content: "\e61f";
}

.icon-lock:before {
	content: "\e620";
}

.icon-flag:before {
	content: "\e621";
}

.icon-headphones:before {
	content: "\e622";
}

.icon-volume-off:before {
	content: "\e623";
}

.icon-volume-up:before {
	content: "\e625";
}

.icon-qrcode:before {
	content: "\e626";
}

.icon-barcode:before {
	content: "\e627";
}

.icon-tag:before {
	content: "\e628";
}

.icon-tags:before {
	content: "\e629";
}

.icon-book:before {
	content: "\e62a";
}

.icon-bookmark:before {
	content: "\e62b";
}

.icon-print:before {
	content: "\e62c";
}

.icon-camera:before {
	content: "\e62d";
}

.icon-font:before {
	content: "\e62e";
}

.icon-bold:before {
	content: "\e62f";
}

.icon-align-justify:before {
	content: "\e636";
}

.icon-list:before {
	content: "\e637";
}

.icon-picture:before {
	content: "\e63b";
}

.icon-pencil:before {
	content: "\e63c";
}

.icon-map-marker:before {
	content: "\e63d";
}

.icon-adjust:before {
	content: "\e63e";
}

.icon-tint:before {
	content: "\e63f";
}

.icon-edit:before {
	content: "\e640";
}

.icon-share:before {
	content: "\e641";
}

.icon-check:before {
	content: "\e642";
}

.icon-move:before {
	content: "\e643";
}

.icon-step-backward:before {
	content: "\e644";
}

.icon-fast-backward:before {
	content: "\e645";
}

.icon-backward:before {
	content: "\e646";
}

.icon-play:before {
	content: "\e647";
}

.icon-pause:before {
	content: "\e648";
}

.icon-stop:before {
	content: "\e649";
}

.icon-forward:before {
	content: "\e64a";
}

.icon-fast-forward:before {
	content: "\e64b";
}

.icon-step-forward:before {
	content: "\e64c";
}

.icon-eject:before {
	content: "\e64d";
}

.icon-chevron-left:before {
	content: "\e64e";
}

.icon-chevron-right:before {
	content: "\e64f";
}

.icon-plus-sign:before {
	content: "\e650";
}

.icon-minus-sign:before {
	content: "\e651";
}

.icon-remove-sign:before {
	content: "\e652";
}

.icon-ok-sign:before {
	content: "\e653";
}

.icon-question-sign:before {
	content: "\e654";
}

.icon-info-sign:before {
	content: "\e655";
}

.icon-remove-circle:before {
	content: "\e657";
}

.icon-ok-circle:before {
	content: "\e658";
}

.icon-ban-circle:before {
	content: "\e659";
}

.icon-arrow-left:before {
	content: "\e65a";
}

.icon-arrow-right:before {
	content: "\e65b";
}

.icon-arrow-up:before {
	content: "\e65c";
}

.icon-arrow-down:before {
	content: "\e65d";
}

.icon-share-alt:before {
	content: "\e65e";
}

.icon-resize-full:before {
	content: "\e65f";
}

.icon-resize-small:before {
	content: "\e660";
}

.icon-plus:before {
	content: "\e661";
}

.icon-minus:before {
	content: "\e662";
}

.icon-asterisk:before {
	content: "\e663";
}

.icon-exclamation-sign:before {
	content: "\e664";
}

.icon-gift:before {
	content: "\e665";
}

.icon-leaf:before {
	content: "\e666";
}

.icon-eye-open:before {
	content: "\e668";
}

.icon-eye-close:before {
	content: "\e669";
}

.icon-warning-sign:before {
	content: "\e66a";
}

.icon-plane:before {
	content: "\e66b";
}

.icon-calendar:before {
	content: "\e66c";
}

.icon-random:before {
	content: "\e66d";
}

.icon-comment:before {
	content: "\e66e";
}

.icon-chevron-up:before {
	content: "\e670";
}

.icon-chevron-down:before {
	content: "\e671";
}

.icon-shopping-cart:before {
	content: "\e673";
}

.icon-folder-close:before {
	content: "\e674";
}

.icon-folder-open:before {
	content: "\e675";
}

.icon-resize-vertical:before {
	content: "\e676";
}

.icon-resize-horizontal:before {
	content: "\e677";
}

.icon-bar-chart:before {
	content: "\e678";
}

.icon-camera-retro:before {
	content: "\e679";
}

.icon-key:before {
	content: "\e67a";
}

.icon-cogs:before {
	content: "\e67b";
}

.icon-comments:before {
	content: "\e67c";
}

.icon-thumbs-up:before {
	content: "\e67d";
}

.icon-thumbs-down:before {
	content: "\e67e";
}

.icon-star-half:before {
	content: "\e67f";
}

.icon-heart-empty:before {
	content: "\e680";
}

.icon-signout:before {
	content: "\e681";
}

.icon-pushpin:before {
	content: "\e683";
}

.icon-external-link:before {
	content: "\e684";
}

.icon-signin:before {
	content: "\e685";
}

.icon-trophy:before {
	content: "\e686";
}

.icon-upload-alt:before {
	content: "\e688";
}

.icon-lemon:before {
	content: "\e689";
}

.icon-phone:before {
	content: "\e68a";
}

.icon-check-empty:before {
	content: "\e68b";
}

.icon-bookmark-empty:before {
	content: "\e68c";
}

.icon-phone-sign:before {
	content: "\e68d";
}

.icon-credit:before {
	content: "\e690";
}

.icon-rss:before {
	content: "\e691";
}

.icon-hdd:before {
	content: "\e692";
}

.icon-bullhorn:before {
	content: "\e693";
}

.icon-bell:before {
	content: "\e694";
}

.icon-certificate:before {
	content: "\e695";
}

.icon-hand-right:before {
	content: "\e696";
}

.icon-hand-left:before {
	content: "\e697";
}

.icon-hand-up:before {
	content: "\e698";
}

.icon-hand-down:before {
	content: "\e699";
}

.icon-circle-arrow-left:before {
	content: "\e69a";
}

.icon-circle-arrow-right:before {
	content: "\e69b";
}

.icon-circle-arrow-up:before {
	content: "\e69c";
}

.icon-circle-arrow-down:before {
	content: "\e69d";
}

.icon-globe:before {
	content: "\e69e";
}

.icon-wrench:before {
	content: "\e69f";
}

.icon-tasks:before {
	content: "\e6a0";
}

.icon-filter:before {
	content: "\e6a1";
}

.icon-fullscreen:before {
	content: "\e6a3";
}

.icon-group:before {
	content: "\e6a4";
}

.icon-link:before {
	content: "\e6a5";
}

.icon-cloud:before {
	content: "\e6a6";
}

.icon-beaker:before {
	content: "\e6a7";
}

.icon-cut:before {
	content: "\e6a8";
}

.icon-copy:before {
	content: "\e6a9";
}

.icon-paper-clip:before {
	content: "\e6aa";
}

.icon-save:before {
	content: "\e6ab";
}

.icon-sign-blank:before {
	content: "\e6ac";
}

.icon-reorder:before {
	content: "\e6ad";
}

.icon-list-ul:before {
	content: "\e6ae";
}

.icon-list-ol:before {
	content: "\e6af";
}

.icon-table:before {
	content: "\e6b2";
}

.icon-magic:before {
	content: "\e6b3";
}

.icon-caret-down:before {
	content: "\e6b8";
}

.icon-caret-up:before {
	content: "\e6b9";
}

.icon-caret-left:before {
	content: "\e6ba";
}

.icon-caret-right:before {
	content: "\e6bb";
}

.icon-columns:before {
	content: "\e6bc";
}

.icon-sort:before {
	content: "\e6bd";
}

.icon-sort-down:before {
	content: "\e6be";
}

.icon-sort-up:before {
	content: "\e6bf";
}

.icon-envelope-alt:before {
	content: "\e6c0";
}

.icon-undo:before {
	content: "\e6c1";
}

.icon-dashboard:before {
	content: "\e6c3";
}

.icon-comment-alt:before {
	content: "\e6c4";
}

.icon-comments-alt:before {
	content: "\e6c5";
}

.icon-bolt:before {
	content: "\e6c6";
}

.icon-sitemap:before {
	content: "\e6c7";
}

.icon-umbrella:before {
	content: "\e6c8";
}

.icon-paste:before {
	content: "\e6c9";
}

.icon-lightbulb:before {
	content: "\e6ca";
}

.icon-exchange:before {
	content: "\e6cb";
}

.icon-cloud-download:before {
	content: "\e6cc";
}

.icon-cloud-upload:before {
	content: "\e6cd";
}

.icon-bell-alt:before {
	content: "\e6d1";
}

.icon-coffee:before {
	content: "\e6d2";
}

.icon-file-text-alt:before {
	content: "\e6d4";
}

.icon-building:before {
	content: "\e6d5";
}

.icon-double-angle-left:before {
	content: "\e6dc";
}

.icon-double-angle-right:before {
	content: "\e6dd";
}

.icon-double-angle-up:before {
	content: "\e6de";
}

.icon-double-angle-down:before {
	content: "\e6df";
}

.icon-angle-left:before {
	content: "\e6e0";
}

.icon-angle-right:before {
	content: "\e6e1";
}

.icon-angle-up:before {
	content: "\e6e2";
}

.icon-angle-down:before {
	content: "\e6e3";
}

.icon-desktop:before {
	content: "\e6e4";
}

.icon-laptop:before {
	content: "\e6e5";
}

.icon-tablet:before {
	content: "\e6e6";
}

.icon-mobile:before {
	content: "\e6e7";
}

.icon-mobile-phone:before {
	content: "\e6e7";
}

.icon-circle-blank:before {
	content: "\e6e8";
}

.icon-quote-left:before {
	content: "\e6e9";
}

.icon-quote-right:before {
	content: "\e6ea";
}

.icon-spinner:before {
	content: "\e6eb";
}

.icon-circle:before {
	content: "\e6ec";
}

.icon-reply:before {
	content: "\e6ed";
}

.icon-folder-close-alt:before {
	content: "\e6ef";
}

.icon-folder-open-alt:before {
	content: "\e6f0";
}

.icon-expand-alt:before {
	content: "\e6f1";
}

.icon-collapse-alt:before {
	content: "\e6f2";
}

.icon-smile:before {
	content: "\e6f3";
}

.icon-frown:before {
	content: "\e6f4";
}

.icon-meh:before {
	content: "\e6f5";
}

.icon-gamepad:before {
	content: "\e6f6";
}

.icon-keyboard:before {
	content: "\e6f7";
}

.icon-flag-alt:before {
	content: "\e6f8";
}

.icon-flag-checkered:before {
	content: "\e6f9";
}

.icon-terminal:before {
	content: "\e6fa";
}

.icon-code:before {
	content: "\e6fb";
}

.icon-reply-all:before {
	content: "\e6fc";
}

.icon-star-half-full:before {
	content: "\e6fd";
}

.icon-location-arrow:before {
	content: "\e6fe";
}

.icon-crop:before {
	content: "\e6ff";
}

.icon-code-fork:before {
	content: "\e700";
}

.icon-unlink:before {
	content: "\e701";
}

.icon-question:before {
	content: "\e702";
}

.icon-info:before {
	content: "\e703";
}

.icon-shield:before {
	content: "\e70b";
}

.icon-calendar-empty:before {
	content: "\e70c";
}

.icon-rocket:before {
	content: "\e70e";
}

.icon-chevron-sign-left:before {
	content: "\e70f";
}

.icon-chevron-sign-right:before {
	content: "\e710";
}

.icon-chevron-sign-up:before {
	content: "\e711";
}

.icon-chevron-sign-down:before {
	content: "\e712";
}

.icon-html5:before {
	content: "\e713";
}

.icon-anchor:before {
	content: "\e714";
}

.icon-unlock-alt:before {
	content: "\e715";
}

.icon-bullseye:before {
	content: "\e716";
}

.icon-ellipsis-horizontal:before {
	content: "\e717";
}

.icon-ellipsis-vertical:before {
	content: "\e718";
}

.icon-rss-sign:before {
	content: "\e719";
}

.icon-play-sign:before {
	content: "\e71a";
}

.icon-minus-sign-alt:before {
	content: "\e71c";
}

.icon-check-minus:before {
	content: "\e71d";
}

.icon-level-up:before {
	content: "\e71e";
}

.icon-level-down:before {
	content: "\e71f";
}

.icon-check-sign:before {
	content: "\e720";
}

.icon-edit-sign:before {
	content: "\e721";
}

.icon-external-link-sign:before {
	content: "\e722";
}

.icon-share-sign:before {
	content: "\e723";
}

.icon-compass:before {
	content: "\e724";
}

.icon-collapse:before {
	content: "\e725";
}

.icon-collapse-top:before {
	content: "\e726";
}

.icon-expand:before {
	content: "\e727";
}

.icon-dollar:before {
	content: "\e728";
}

.icon-yen:before {
	content: "\e729";
}

.icon-renminbi:before {
	content: "\e72a";
}

.icon-file2:before {
	content: "\e72b";
}

.icon-file-text:before {
	content: "\e72c";
}

.icon-sort-by-alphabet:before {
	content: "\e72d";
}

.icon-sort-by-alphabet-alt:before {
	content: "\e72e";
}

.icon-sort-by-attributes:before {
	content: "\e72f";
}

.icon-sort-by-attributes-alt:before {
	content: "\e730";
}

.icon-sort-by-order:before {
	content: "\e731";
}

.icon-sort-by-order-alt:before {
	content: "\e732";
}

.icon-thumbs-up2:before {
	content: "\e733";
}

.icon-thumbs-down2:before {
	content: "\e734";
}

.icon-long-arrow-down:before {
	content: "\e736";
}

.icon-long-arrow-up:before {
	content: "\e737";
}

.icon-long-arrow-left:before {
	content: "\e738";
}

.icon-long-arrow-right:before {
	content: "\e739";
}

.icon-apple:before {
	content: "\e73a";
}

.icon-windows:before {
	content: "\e73b";
}

.icon-android:before {
	content: "\e73c";
}

.icon-linux:before {
	content: "\e73d";
}

.icon-sun:before {
	content: "\e742";
}

.icon-moon:before {
	content: "\e743";
}

.icon-archive:before {
	content: "\e744";
}

.icon-bug:before {
	content: "\e745";
}

.icon-weibo:before {
	content: "\e746";
}

.icon-renren:before {
	content: "\e747";
}

.icon-qq:before {
	content: "\e600";
}

.icon-chrome:before {
	content: "\e76c";
}

.icon-firefox:before {
	content: "\e76d";
}

.icon-ie:before {
	content: "\e76e";
}

.icon-opera:before {
	content: "\e76f";
}

.icon-safari:before {
	content: "\e770";
}

.icon-node:before {
	content: "\e76a";
}

.icon-layout:before {
	content: "\e768";
}

.icon-usecase:before {
	content: "\e74a";
}

.icon-stack:before {
	content: "\e769";
}

.icon-branch:before {
	content: "\e74b";
}

.icon-chat:before {
	content: "\e74c";
}

.icon-comment-line:before {
	content: "\e74f";
}

.icon-chat-dot:before {
	content: "\e750";
}

.icon-cube:before {
	content: "\e751";
}

.icon-align-left:before {
	content: "\e633";
}
/*提示框样式*/
.messager {
	position: fixed;
	z-index: 99999;
	max-width: 80%;
	padding-right: 50px;
	color: #fff;
	background-color: #353535;
	background-color: rgba(0, 0, 0, .8);
	border-radius: 20px;
}

.messager.top {
	top: 20px;
}

.messager.top-left {
	top: 20px;
	left: 20px;
}

.messager.top-right {
	top: 20px;
	right: 20px;
}

.messager.bottom {
	bottom: 20px;
}

.messager.bottom-left {
	bottom: 20px;
	left: 20px;
}

.messager.bottom-right {
	right: 20px;
	bottom: 20px;
}

.messager-content {
	padding: 10px 20px;
}

.messager-content>[class^='icon-'] {
	display: inline-block;
	margin-right: 8px;
}

.messager-actions {
	position: absolute;
	top: 10px;
	right: 15px;
}

.messager-actions>.action {
	color: #fafafa;
	color: rgba(255, 255, 255, .6);
	text-shadow: none;
	background: none;
	border: none;
}

.messager-actions>.action.close {
	font-size: 20px;
	font-weight: normal;
	opacity: 1;
}

.messager-actions>.action:hover {
	color: #fff;
}

.messager-primary {
	background-color: #108bf1;
}

.messager-success {
	background-color: #2ac25f;
}

.messager-info {
	background-color: #00c3b6;
}

.messager-warning {
	background-color: #f39c11;
}

.messager-danger {
	background-color: #ee4e2f;
}

.messager-important {
	background-color: #a76531;
}

.messager-special {
	background-color: #6f5499;
}