@charset "utf-8";
/*科e互联特效基本框架CSS*/
/*body, ul, dl, dd, dt, ol, li, p, h1, h2, h3, h4, h5, h6, textarea, form, select, fieldset, table, td, div, input {margin:0;padding:0;-webkit-text-size-adjust: none}
h1, h2, h3, h4, h5, h6{font-size:12px;font-weight:normal}
body>div{margin:0 auto}
div {text-align:left}
a img {border:0}
body { color: #333; text-align: center; font: 12px "微软雅黑"; }
ul, ol, li {list-style-type:none;vertical-align:0}
a {outline-style:none;color:#535353;text-decoration:none}
a:hover { color: #D40000; text-decoration: none}
.clear{height:0; overflow:hidden; clear:both}
.button {display: inline-block;zoom: 1; *display: inline;vertical-align: baseline;margin: 0 2px;outline: none;cursor: pointer;text-align: center;text-decoration: none;font: 14px/100% Arial, Helvetica, sans-serif;padding:0.25em 0.6em 0.3em;text-shadow: 0 1px 1px rgba(0,0,0,.3);-webkit-border-radius: .5em; -moz-border-radius: .5em;border-radius: .5em;-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.red {color: #faddde;border: solid 1px #980c10;background: #d81b21;background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#A51715));background: -moz-linear-gradient(top,  #ed1c24,  #A51715);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
.red:hover { background: #b61318; background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115)); background: -moz-linear-gradient(top,  #c9151b,  #a11115); filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115'); color:#fff;}
.red:active {color: #de898c;background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');}
.cor_bs,.cor_bs:hover{color:#ffffff;}
.keBody{background:url(../images/bodyBg.jpg) repeat #333;}
.keTitle{height:100px; line-height:100px; font-size:30px; font-family:'微软雅黑'; color:#FFF; text-align:center; background:url(../images/bodyBg3.jpg) repeat-x bottom left; font-weight:normal}
.kePublic{background:#FFF; padding:50px 0;}
.keBottom{color:#FFF; padding-top:25px; line-height:28px; text-align:center; font-family:'微软雅黑'; background:url(../images/bodyBg2.jpg) repeat-x top left; padding-bottom:25px}
.keTxtP{font-size:16px; color:#ffffff;}
.keUrl{color:#FFF; font-size:30px;}
.keUrl:hover{ text-decoration: underline; color: #FFF; }*/
/*.mKeBanner,.mKeBanner div{text-align:center;}*/
/*科e互联特效基本框架CSS结束，应用特效时，以上样式可删除*/
.flexslider {
	width: 1112px;
	float: left;
	position: relative;
}

.flex-direction-nav li {
	float: left;
}

.promo_banner {
	float: right;
	width: 278px;
}
/*.promo_banner .home_banner{ height:140px; margin-bottom:7px;}*/
.navigation_container, .products_list li .product_info, ul.sub_menu>li>ul>li:hover,
	#product_detail, .col_right .block-title {
	border-bottom-color: #f38256;
}

header .top_links>li.highlight a, nav .primary_nav li.active>a,
	.products_list .price_info button .pr_add, .sideNavCategories>ul.departments>li:hover,
	.cart_drop .cart_bottom a {
	background: #f38256;
}

nav .minicart span b, footer .footer_customblock .shipping_info span, ul.breadcrumb li.active a,
	.product_rightcol .pr_price big, footer .footer_links li a:hover,
	#shopping-cart-table tr td span.pr_info, #totals-table .total,
	.cart_drop ul li span.price, .cart_drop .cart_bottom .subtotal_menu big
	{
	color: #f38256;
}

footer, ul.sub_menu, .sideNavCategories>ul, ul.sub_menu>li>ul,
	.checkout_tax .shipping_tax, .checkout_discount, .cart_drop {
	border-top-color: #f38256;
}

.flexslider .flex-direction-nav li a:hover, nav .primary_nav>li>a:hover,
	nav .primary_nav>li:hover>a, .product_rightcol .add_to_buttons button.add_cart,
	.action_buttonbar button.checkout, #shopping-cart-table tr td a.remove:hover
	{
	background-color: #f38256;
}

.products_list li:hover img {
	border-color: #f38256
}

.flex-caption {
	border-left-color: #f38256
}

.flex-container a:active, .flexslider a:active, .flex-container a:focus,
	.flexslider a:focus {
	outline: none;
}

.slides, .flex-control-nav, .flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

.flex-direction-nav {
	*height: 0;
}

.flexslider .flex-direction-nav li a {
	display: block;
	width: 32px;
	height: 32px; /* background-color:#544f4b;*/
	margin-right: 3px;
	text-indent: -3000px;
	background-repeat: no-repeat;
}

.flex-direction-nav .flex-next, .flex-direction-nav .flex-prev {
	background: url(../images/pai/order.png);
	position: absolute;
}

.flex-direction-nav .flex-next {
	background-position: -80px -160px;
	top: 78px;
	left: -36px
}

.flex-direction-nav .flex-prev {
	background-position: -40px -160px;
	top: 78px;
	right: -36px
}

.flex-direction-nav .flex-next:hover {
	background-position: -120px -160px;
}

.flex-direction-nav .flex-prev:hover {
	background-position: -160px -160px;
}

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
	opacity: 1;
}

.flex-direction-nav .flex-disabled {
	opacity: .3 !important;
	filter: alpha(opacity = 30);
	cursor: default;
}