<extend name="Base/common"/>
<block name="header_css">
    <link type="text/css" rel="stylesheet" href="__THEME_COMMON_STATIC__/css/reseting.css" />
    <link type="text/css" rel="stylesheet" href="__THEME_COMMON_STATIC__/css/common.css" />
    <link type="text/css" rel="stylesheet" href="__THEME_COMMON_STATIC__/css/usuer_paib.css">
    <link type="text/css" rel="stylesheet" href="__THEME_COMMON_STATIC__/css/page.css" />
    <link type="text/css" rel="stylesheet" href="__THEME_COMMON_STATIC__/css/love_ws/personal_center.css">
</block>
<block name="header_script">    
        <script type="text/javascript" src="__PUBLIC__/js.php?f=js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="__THEME_COMMON_STATIC__/js/jquerysenior.js"></script>
    <script type="text/javascript" src="__THEME_COMMON_STATIC__/js/layer/layer.js"></script>
    <script type="text/javascript" src="__THEME_COMMON_STATIC__/js/personal.js"></script>
    <script type="text/javascript" src="__THEME_COMMON_STATIC__/js/common.js"></script>
    <script type="text/javascript" src="__THEME_COMMON_STATIC__/js/baseeffect.js"></script>
</block>
<block name="body">
    <!-- 主体 -->
    <!--网站全局BANNER-->
    <include file="Public/banner_nav"/>
    <include file="Comm/uc_page_nav" />
    <!--网站全局BANNER结束-->
    <div class="personal_center container bs">
        <!--左边菜单-->
        <include file="Comm/left_menu"/>
        <!--  右边内容-->
        <div class="personal_body right">
            <!--标题-->
            <div class="right_title" style="border: none;">
                <h2 class="px16 left">中奖记录</h2>
            </div>
            <div class="clear"></div>                                                                                                                    
            <!--zhongbox-->
            <div class="win_pai ">
                <!--头部字段-->
                <div class="fieldbox">
                    <ul>
                        <li class="periods3">期号</li>
                        <li class="product1">产品</li>
                        <li class="allneed3">总需人次</li>
                        <li class="thisneed3">爱拍参与人次</li>
                        <li class="luckynum3">幸运号码</li>
                        <li class="time3">时间</li>
                        <li class="handle3">操作</li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <volist name="rows" id="vo">
                    <div class="win_paiinfo cl50">
                        <ul>
                            <li class="periods3 orange">{$vo['periods']}</li>
                            <li class="product1">
                                <ul>
                                    <li class="productpic">
                                        <img src="{$vo['productinfo']['imgs'][0]|getThumbImageById=80,80}" alt="{$vo['productinfo']['name']}" />
                                    </li>
                                    <li class="productname">
                                        <p><a href="{:U('/Index/details@1.i.cn',array('id'=>$vo['id']))}" target="_blank">{$vo['productinfo']['name']}</a></p>
                                    </li>
                                </ul>
                            </li>
                            <li class="allneed3">{$vo.need_num}</li>
                            <li class="thisneed3">{$vo.join_num}</li>
                            <li class="luckynum3 orange">{$vo.rno}</li>
                            <li class="time3">
                                <p>揭晓时间：<br/><php>echo date_fmt('Y-m-d h:i:s',$vo['open_time'])</php></p>
                            <p>爱拍时间：<br/><php>echo date_fmt('Y-m-d h:i:s',$vo['buy_time'])</php></p>
                            </li>
                            <li class="handle1 handle3">
                            <if condition='$vo.share eq 1'>
                                <button>已经晒单</button>      
                            </if>
                            <if condition='($vo.share eq 0) AND  ($vo.send_status eq 4)'>
                                <button class="orange" onclick="window.location.href='{:U('Ipai/showOrder',array('uid'=>$vo['uid'],'productId'=>$vo['id']))}'">晒单</button>
                            </if>
                            <if condition="$vo.send_status eq 4">
                                <button>交易完成</button>	
                            </if>
                            <if condition="$vo['productinfo']['type_first'] eq 0">
                            <button class="orange"><a href="{:U('Ucenter/Ipai/viewServerCode',array('pid'=>$vo['id']))}">查看服务劵</a></button>
                            </if>
                            <if condition="$vo.send_status eq 3">
                                <button class="orange"><a href="{:U('Ucenter/Ipai/myOrder',array('pid'=>$vo['id']))}">待收货</a></button>
                            </if>
                            <if condition="$vo.send_status eq 2">
                                <button class="orange"><a href="{:U('Ucenter/Ipai/myOrder',array('pid'=>$vo['id']))}">待发货</a></button>
                            </if>
                            <if condition="$vo.send_status eq 1">
                                <button class="orange"><a href="{:U('Ucenter/Config/addressList',array('pid'=>$vo['id']))}">填写收获地址</a></button>
                            </if>
                            <button class="tousu">投诉</button>
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </volist>               

                <!--翻页按钮组-->
                <if condition='$count gt 10'>
                    <div class="butgroup pages">
                        {:getPageView($count,10,array('mod'=>'Ucenter/Ipai/myWinning'),TRUE,5)} 
                    </div>
                </if>
            </div>
            <!--boxend-->
            <!--右内容结束-->
        </div>
        <div class="clear"></div>
    </div>    
</block>
