<extend name="Base/common"/>
<block name="header_css">
    <link type="text/css" rel="stylesheet" href="__THEME_COMMON_STATIC__/css/reseting.css">   
    <link rel="stylesheet" href="__CSS__/photoswipe.css">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/core.css"/>
    <link type="text/css" rel="stylesheet" href="__THEME_COMMON_STATIC__/css/cui.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/js/ext/magnific/magnific-popup.css"/>
    <link type="text/css" rel="stylesheet" href="__THEME_COMMON_STATIC__/css/common.css">
    <link type="text/css" rel="stylesheet" href="__THEME_STATIC__/css/homepage.css">
    <link href="__PUBLIC__/zui/css/zui.css" rel="stylesheet">
    
<style>

.container {
    width: 1200px;
    max-width:1200px;
}
}
</style>
</block>
<block name="header_script">
    <script type="text/javascript" src="__PUBLIC__/js.php?f=js/jquery-1.8.3.js,js/com/com.toast.class.js"></script>
    <script type="text/javascript" src="__THEME_COMMON_STATIC__/js/jquerysenior.js"></script>
    <script type="text/javascript" src="__THEME_STATIC__/js/photoswipe.min.js"></script>
    <script type="text/javascript" src="__THEME_STATIC__/js/photoswipe-ui-default.min.js"></script>
    <script type="text/javascript" src="__THEME_STATIC__/js/homepage.js"></script>    
</block>
<block name="body">
    <!-- 主体 -->
    <!--网站全局BANNER-->
    <include file="Public/banner_nav"/>
    <!--网站全局BANNER结束-->


    <!--BANNER-->
    <include file="_banner"/>
    <!--BANNER结束-->


    <div class="homepage_body container" style="max-width:1200px;">
    <if condition="$type eq 'all'"><div class="right_body left"><include file="weiquan_right"/></div><else/><include file="_left_my_info"/></if>
<if condition="$type eq 'all'">
<include file="_left_my_info_wc"/>

<else/><div class="right_body right"><include file="weiquan_right"/></div></if>
         <div class="clear"></div>  
    </div>
</block>
<block name="footer_script">
    <include file="Comm/footer_script"/>
    <script type="text/javascript" src="__THEME_STATIC__/js/weiquan.js"></script>
    <script>
                    weiquan.page = '{$page}';
                    weiquan.loadCount = 0;
                    weiquan.lastId = parseInt('{$list|reset}') + 1;
                    weiquan.url = "{$loadMoreUrl}";
                    weiquan.type = "{$type}";
                    weiquan.isLoadingWeibo = true;
                    $(function () {
                        weiquan_bind();
                        bind_like();
                        //当屏幕滚动到底部时
//                        if (weiquan.page == 1) {
//                            $(window).on('scroll', function () {
//                                if (weiquan.noMoreNextPage||weiquan.isLoadingWeibo) {
//                                    return;
//                                }
//                               
//                                if (weiquan.isLoadMoreVisible()) {
//                                    weiquan.loadNextPage();
//                                }
//                            });
//                            $(window).trigger('scroll');
//                        }

                        $(".trends_title li").click(function () {
                            location.href = $(this).attr('data-url');
                        });


                        weiquan.loadNextPage();//初始化加载
                        //点击更多加载
                        $(document).on('click','._btn_load_more',function () {
                            if (weiquan.noMoreNextPage || weiquan.isLoadingWeibo) {
                                return;
                            }

                            if (weiquan.isLoadMoreVisible()) {
                                weiquan.loadNextPage();
                            }
                        });

                    });
    </script>
</block>

