<div class="bgtplogobox">
    <div class="tplogobox">
        <div class="left">
            <div class="tplogolt">
                <p><img src="__THEME_COMMON_STATIC__/images/base/logo.png" /></p>
                <p><span class="grayline"> </span></p>
                <p style="line-height: 70px;font-size: 24px;color: #2299eb;">微商社区</p>

            </div>

        </div>

        <div class="tplogort">
            <div class="tpicnbox">
                <div class="icntoppic">
                    <img src="__THEME_COMMON_STATIC__/images/base/_18.jpg" alt="" />
                </div>
                <div class="icnsh">
                    <input placeholder="请输入关键词..." class="icninput" />
                    <button class="icnshgo">
                        <span class="icn-zoom"></span>
                    </button>

                </div>
            </div>
        </div>
        <div class="clear"></div>

    </div>
</div>

<nav class="bluenav">
    <div class="tppaimenu">
        <ul>
            <!--<li style="width: 250px;"> 首页</li>-->
            <li> <span>首页</span></li>
            <li> <span>微商论坛</span></li>
            <li> <span>商讯</span></li>
            <li class="active"> <span>一手货源</span></li>

        </ul>

        <div class="clear"></div>
    </div>
</nav>