<div class="right sayshare">
    <span class="share say_share2" data-role="share_role"></span>
    <div class="sharepath">
        <!--span class="say_isay"></span>
        <span class="say_wechat"></span>
        <span class="say_quan"></span>
        <span class="say_qq"></span-->

        <div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare" data='{$share}'>
            <a class="bds_qzone"></a>
            <a class="bds_tsina"></a>
            <a class="bds_tqq"></a>
            <a class="bds_renren"></a>
        </div>

    </div>
</div>