@charset "utf-8";
/*头部*/
.img1,.img2,.img3,.home{background:url(../images/xtbiao.png);background-repeat:no-repeat}
header{width:100%;height:34px;border-bottom:#cbcbcb 1px solid;background-color:#e5e5e5}
.top{width:1200px;height:34px;margin:0 auto}
.top a,.img1,.img2,.img3,.suxian,.suxian0{float:right}
.top p{float:left;fon-size:12px;line-height:34px;color:#505050}
.top a{ font-size:12px;color:#5d5d5d;margin-top:12px;line-height:12px}
.top a:hover{ font-size:12px;color:#fd7603;margin-top:12px;line-height:12px}
.suxian0{height:10px;width:1px;background:#808080;margin:13px 13px auto 13px}
.suxian{height:10px;width:1px;background:#808080;margin:13px 16px auto 16px}
.img1{margin:15px 779px auto 7px;height:6px;width:9px;background-position:-90px -150px}
.img2{margin:10px 8px auto auto;height:15px;width:15px;background-position:-120px -150px}
.img3{margin:15px auto auto 11px;height:6px;width:9px;background-position:-90px -150px}

/*logo页面*/
.logobox{width:100%;background:#ffffff;height:106px}
.logo{width:1200px;margin:0 auto}
.logo1,.logo2,.anniu,.sousuobox,.sousuob,#input1{float:left}
.logo1{margin-top:16px}
.logo2{margin:60px 0 0 13px}
.sousuobox{margin:16px 0 0 110px;width:548px}
.sousuob{width:14px;height:38px;border:#fd7603 2px solid; box-sizing:border-box;border-right:none;}
#input1{height:38px;width:454px;border:#fd7603 2px solid; box-sizing:border-box;border-left:none;color:#adadad; line-height:36px;font-size:13px;}
.anniu{ line-height:38px;font-size:18px;color:#FFF;text-align:center;height:38px;width:77px;background:#fd7603;}
.remen{clear:left;}
.dianhuabox,.remen a,.remen p{float:left}
.remen a{ line-height:13px;font-size:13px;color:#505050;margin-right:10px;margin-top:14px}
.remen a:hover{color:#fd7603;text-decoration:underline}
.remen p{ line-height:13px;font-size:13px;color:#505050;margin-top:14px}
.dianhuabox{margin-top:16px;margin-left:75px;}
.dianhuabox h1{font-size:14px;color:#505050}
.dianhuabox h2{font-size:24px;color:#fd7603;font-weight:bold}
.dianhuabox h3{font-size:14px;color:#505050}
.dianhuabox span{font-size:14px;color:#fd7603}

/*导航*/
nav{width:100%;height:40px;background:#25c501}
.center{width:1200px;height:40px;margin:0 auto;position:relative}
.center .hh2,.center .h{float:left;line-height:16px;font-size:16px;color:#fff;font-weight:bold;/*background:url(../images/shouye_03_03.jpg);background-repeat:no-repeat;background-position:right center;*/letter-spacing:1px}
.center .hh2{padding:12px 80px 12px 100px ;}
.center .hh2:hover{background:#21b200}
.center .h:hover{background:#21b200}
.center .h{padding:12px 40px 12px 40px;}
.center .quxian{background:#21b200}
.center .quxian2{background:none}
.shuo{float:left;margin-left:20px}
.shuo p{ line-height:40px;font-size:14px;color:#fff;}
.shuo p,.shuo img{float:left}
.shuo img{margin-top:11px;margin-right:16px}
.home{position:absolute;top:10px;left:66px;height:20px;width:22px;background-position:-150px -150px}
.center .lv{background:#21b200}


/*尾部*/
footer{width:100%;height:158px;background:#e2e2e2;margin-top:80px;float:left}
.last{width:1200px;height:90px;margin:30px auto auto auto;}
.shang a,.xduanxian,.left,.right{float:left}
.shang a{font-size:14px;color:#505050;line-height:14px;margin-top:12px;margin-bottom:30px}
.shang a:hover{color:#fd7603;text-decoration:underline}
.xduanxian{width:1px;height:7px;margin:16px 22px auto 22px;background:#505050}
.left{width:600px}
.right{margin-left:230px}
.xia{clear:left;margin-top:20px}
.xia p{ font-size:12px;color:#505050;line-height:14px;}
.shaoma1,.shaoma2,.shaoma3{float:left}
.shaoma1 h3,.shaoma2 h3{ font-size:12px;color:#505050;line-height:12px;margin-top:10px}
.shaoma2,.shaoma3{margin-left:30px}
.shaoma3 h1{font-size:14px;color:#505050}
.shaoma3 h2{font-size:24px;color:#fd7603;font-weight:bold}
/* CSS Document */

